@charset "UTF-8";
/* Menu Navegación */
.menuNavegacion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--blanco);
  color: var(--oxford);
  z-index: 9;
  border-bottom: 1px solid var(--claro);
  top: 0;
  line-height: 1; }
  .menuNavegacion__icon {
    color: var(--profundo);
    width: 100%; }
  .menuNavegacion:hover {
    color: var(--anaranjado); }

/*md*/
/*Cambio de Posición del Menú*/
/* Menú Navegación */
.menuNavegacion {
  width: 3rem;
  height: 100vh;
  padding: 1rem 0;
  text-align: center;
  border-left: 1px var(--claro) solid;
  right: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 10% 10% 10% 10% 30%; }
