@charset "UTF-8";
/* ================================
		INICIAN MÓDULOS
=================================*/
/* -------- CONTENEDOR --------*/
.marro-on__contenedor {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  padding: 0;
  z-index: 6;
}

@media (min-width: 768px) {
  .marro-on__contenedor {
    width: calc(100% - 3rem);
    height: 100%;
    position: relative;
    margin: 0;
    left: 0;
    bottom: initial;
    padding: 0;
  }
}

/* -------- SECCIONES -------- */
section {
  width: 100%;
  padding: 3rem 0;
}

.titulo__seccion {
  text-align: center;
  color: var(--oxford);
  font-weight: 300;
  margin-bottom: 3rem;
}

/* -------- MENU --------*/
.menuNavegacion {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  border-bottom: 1px solid var(--claro);
  position: fixed;
  top: 0;
  z-index: 8;
  background-color: var(--blanco);
  color: var(--oxford);
  line-height: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  /*BotonMenu*/
}

.menuNavegacion__icon {
  display: none;
}

.menuNavegacion__icon a,
.menuNavegacion__icon--logo a {
  color: var(--profundo);
}

.menuNavegacion__icon a:hover,
.menuNavegacion__icon--logo a:hover {
  color: var(--anaranjado);
}

.menuNavegacion__icon--logo, .menuNavegacion__icon--nombre {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-align: center;
  align-items: center;
}

.menuNavegacion__icon--logo {
  width: 20%;
  grid-column: 1/2;
  grid-row: 1/2;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.menuNavegacion__icon--nombre {
  grid-column: 2/4;
  grid-row: 1/2;
  -webkit-box-pack: center;
  justify-content: center;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 80%;
}

.menuNavegacion__botonMenu {
  grid-column: 4/5;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.menuNavegacion .botonMenu {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  background: transparent;
}

.menuNavegacion .botonMenu:hover .botonMenu > span {
  background: var(--anaranjado);
}

.menuNavegacion .botonMenu.active .top {
  -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
  transform: translateY(10px) translateX(0) rotate(45deg);
  background: var(--anaranjado);
}

.menuNavegacion .botonMenu.active .middle {
  opacity: 0;
}

.menuNavegacion .botonMenu.active .bottom {
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: var(--anaranjado);
  top: 22px;
}

.menuNavegacion .botonMenu span {
  background: var(--profundo);
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 2px;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.menuNavegacion .botonMenu span:nth-of-type(2) {
  top: 10px;
}

.menuNavegacion .botonMenu span:nth-of-type(3) {
  top: 18px;
}

@media (min-width: 768px) {
  .menuNavegacion {
    background-color: transparent;
    width: 3rem;
    height: 100vh;
    padding: 1rem 0;
    text-align: center;
    border-left: 1px var(--claro) solid;
    right: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% repeat(8, auto) 20%;
  }
  .menuNavegacion:first-child {
    display: -webkit-box;
    display: flex;
  }
  .menuNavegacion__icon {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .menuNavegacion__icon--logo, .menuNavegacion__icon--nombre {
    display: none;
  }
  .menuNavegacion__icon:first-child {
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  .menuNavegacion__icon:nth-child(0n+10) {
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
  .menuNavegacion__icon .icon-logo {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .menuNavegacion__icon .icon-facebook {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .menuNavegacion__botonMenu {
    display: none;
  }
}

/* Menu Navegación Extendida */
.menuNavegacion__Extendida {
  position: fixed;
  top: -40rem;
  padding: 1rem 0.5rem;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  background-color: var(--blanco);
  color: var(--profundo);
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 7;
  transition: top 1.5s;
}

.menuNavegacion__Extendida__items {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  color: var(--claro);
  padding: 0.5rem 0.25rem;
}

.menuNavegacion__Extendida__items:nth-last-child(-n+5) {
  border-top: 1px solid var(--claro);
}

.menuNavegacion__Extendida__items > p {
  color: var(--oxford);
  margin-left: 0.5rem;
}

.menuNavegacion__Extendida__items:hover {
  color: var(--melon);
  font-weight: 500;
}

.nav--activo {
  top: 3rem;
  transition: top 1s;
}

.linea {
  display: initial;
  background-color: var(--ahuesado);
  width: 100%;
  height: 1px;
}

/* -------- BAC -------- */
/*Back*/
.back {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: columns;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 0.5rem;
  right: 0.75rem;
  background-color: var(--blanco);
  color: var(--oxford);
  border-radius: 50%;
  line-height: 1;
  box-shadow: 0 1px 1px var(--tenueTransparente);
  z-index: 7;
  text-align: center;
}

@media (min-width: 768px) {
  .back {
    right: 3.75rem;
  }
}

/* -------- PORTADA --------*/
.portada {
  width: 100%;
  height: 100vh;
  background: url("../images/bg-image_moviles.jpg") no-repeat, var(--oxford);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 9;
}

.portada__contenedor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 10% auto 10%;
  color: var(--blanco);
}

.portada__header {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.portada__contenedor a:hover {
  color: var(--navy);
}

.portada__texto {
  grid-column: 2/3;
  grid-row: 2/3;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.portada__logotipo {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}

.portada__logotipo > img {
  width: 20%;
}

.portada__nombre {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Merriweather', serif;
}

.portada__profesion {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.25rem;
  font-size: 1.25rem;
}

.portada__mouse {
  grid-column: 2/3;
  grid-row: 3/4;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.portada__mouse > .icon-mouse {
  position: relative;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: mouse;
  animation-name: mouse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  font-size: 2.5rem;
}

.portada__mouse > .icon-mouse:hover {
  -webkit-animation: none;
  animation: none;
}

@media (min-width: 576px) {
  .portada__social a {
    font-size: 1rem;
  }
  .portada__nombre {
    font-size: 3rem;
  }
  .portada__profesion {
    letter-spacing: 0.5rem;
  }
}

@media (min-width: 768px) {
  .portada__contenedor {
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 10% auto 10%;
    width: 100%;
    height: 100%;
  }
  .portada__social a {
    font-size: 1.5rem;
  }
  .portada__nombre {
    font-size: 4rem;
  }
}

@media (min-width: 992px) {
  .portada {
    background: url("../images/bg-image.jpg") no-repeat, var(--navy);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .portada__nombre {
    font-size: 8rem;
  }
}

@media (min-width: 1200px) {
  .portada__nombre {
    font-size: 6rem;
  }
}

@-webkit-keyframes mouse {
  0% {
    bottom: 1rem;
  }
  50% {
    bottom: 2rem;
  }
  100% {
    bottom: 1rem;
  }
}

@keyframes mouse {
  0% {
    bottom: 1rem;
  }
  50% {
    bottom: 2rem;
  }
  100% {
    bottom: 1rem;
  }
}

/* -------- INTRODUCCION --------*/
.introduccion {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
}

.introduccion__resena {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
}

.introduccion__texto {
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  font-family: 'Playfair Display', 'serif';
  font-size: 1.5rem;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.introduccion__imagenPerfil {
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  display: none;
}

.introduccion__curriculumVitae {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 80%;
  font-weight: 400;
  margin-top: 4rem;
}

.introduccion__descargaCV {
  padding: 0.5rem 1rem;
  background-color: var(--melon);
  color: var(--blanco);
  border: 1px var(--melon) solid;
  margin: 0 0.5rem;
  border-radius: 2px;
}

.introduccion__visitaResumen {
  padding: 0.5rem 1rem;
  border: 1px var(--oxford) solid;
  margin: 0 0.5rem;
  color: var(--oxford);
  border-radius: 2px;
}

.introduccion__descargaCV:hover, .introduccion__visitaResumen:hover {
  color: var(--gris);
  border: 1px var(--claro) solid;
  background-color: var(--ceniza);
}

@media (min-width: 992px) {
  .introduccion__resena {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  .introduccion__texto {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 2rem;
    text-align: right;
  }
  .introduccion__imagenPerfil {
    grid-column: 2/3;
    grid-row: 1/2;
    display: inherit;
  }
  .introduccion__descargaCV, .introduccion__visitaResumen {
    margin: 0 0.75rem;
  }
}

/* -------- FRASE --------*/
.frase {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  height: 40vh;
}

.frase__texto {
  color: var(--blanco);
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Domine', serif;
}

@media (min-width: 768px) {
  .frase__texto {
    letter-spacing: 0.5rem;
  }
  .frase__texto__texto {
    font-size: 2rem;
  }
}

.frase__autor {
  color: var(--blanco);
  text-align: right;
  font-weight: 400;
}

.frase--1, .frase--2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: var(--navyTransparente);
  padding: 1rem 1rem;
  width: 100%;
  height: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .frase--1, .frase--2 {
    padding: 2rem 5rem;
  }
}

#frase1 {
  background: url("../images/f-4.jpg") no-repeat, var(--navy);
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

#frase2 {
  background: url("../images/f-2.jpg") no-repeat, var(--navy);
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

/* -------- RESUMEN --------*/
.icon-trabajo,
.icon-educacion,
.icon-freelance {
  font-size: 2rem;
  color: var(--melon);
  background-color: var(--ceniza);
  height: 2rem;
}

.punto {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--melon);
}

.resumen {
  background-color: var(--ceniza);
}

.resumen__contenedor {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}

.resumen__tituloItem {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 1rem;
}

.resumen__tituloItem p {
  background-color: var(--marfil);
  padding: 0.5rem 0.75rem;
  border-radius: 2px;
  margin: 1rem 0;
  color: var(--oxford);
  font-weight: 400;
  width: auto;
  text-align: center;
}

.resumen .resumen__item > .linea__contenedor, .resumen .resumen__item > .punto__contenedor {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.resumen__experiencia {
  grid-column: 1;
  grid-row: 1/2;
  text-align: center;
}

.resumen__educacion {
  grid-column: 1;
  grid-row: 2/3;
}

.resumen__freelance {
  grid-column: 1;
  grid-row: 3/4;
}

.resumen__item {
  margin: 0 1rem;
}

.resumen__item > .resumen__fecha {
  text-align: center;
  font-weight: 400;
  color: var(--a);
}

.resumen__item > .resumen__lugarTrabajo {
  text-align: center;
  color: var(--oxford);
  font-weight: 500;
}

.resumen__item > .resumen__cargo {
  text-align: center;
  color: var(--oxford);
  font-weight: 300;
  font-size: 75%;
}

.resumen__item > .resumen__descripcionActividades {
  text-align: center;
  color: var(--oxford);
  font-weight: 400;
  font-size: 85%;
}

.resumen__item > .linea__contenedor {
  text-align: center;
}

.resumen__item > .punto__contenedor {
  text-align: center;
}

.resumen .linea {
  height: 100%;
  width: 2px;
  background-color: var(--marfil);
}

.resumen__item {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: repeat(4, auto);
}

.resumen__item:nth-child(2n) > .resumen__fecha,
.resumen__item:nth-child(odd) > .resumen__fecha {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
}

.resumen__item:nth-child(2n) > .resumen__lugarTrabajo,
.resumen__item:nth-child(odd) > .resumen__lugarTrabajo {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: left;
}

.resumen__item:nth-child(2n) > .resumen__cargo,
.resumen__item:nth-child(odd) > .resumen__cargo {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: left;
}

.resumen__item:nth-child(2n) > .resumen__descripcionActividades,
.resumen__item:nth-child(odd) > .resumen__descripcionActividades {
  grid-column: 2/3;
  grid-row: 4/5;
  text-align: left;
  padding-bottom: 1rem;
}

.resumen__item:nth-child(2n) > .linea__contenedor,
.resumen__item:nth-child(odd) > .linea__contenedor {
  grid-column: 1/2;
  grid-row: 1/5;
}

.resumen__item:nth-child(2n) > .punto__contenedor,
.resumen__item:nth-child(odd) > .punto__contenedor {
  grid-column: 1/2;
  grid-row: 1/2;
}

.resumen .resumen__fecha {
  font-size: 80%;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

@media (min-width: 576px) {
  .resumen__tituloItem {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
  }
  .resumen__item {
    margin: 0 1rem;
  }
  .resumen__item > .resumen__fecha {
    text-align: center;
    font-weight: 400;
    color: var(--a);
  }
  .resumen__item > .resumen__lugarTrabajo {
    text-align: center;
    color: var(--oxford);
    font-weight: 500;
  }
  .resumen__item > .resumen__cargo {
    text-align: center;
    color: var(--oxford);
    font-weight: 300;
    font-size: 75%;
  }
  .resumen__item > .resumen__descripcionActividades {
    text-align: center;
    color: var(--oxford);
    font-weight: 400;
    font-size: 85%;
  }
  .resumen__item > .linea__contenedor {
    text-align: center;
  }
  .resumen__item > .punto__contenedor {
    text-align: center;
  }
  .resumen .linea {
    height: 100%;
    width: 2px;
    background-color: var(--marfil);
  }
  .resumen__item {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: repeat(4, auto);
  }
  .resumen .resumen__item:nth-child(odd) > .linea__contenedor, .resumen .resumen__item:nth-child(odd) > .punto__contenedor {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .resumen__item:nth-child(odd) > .resumen__fecha {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: right;
  }
  .resumen__item:nth-child(odd) > .resumen__lugarTrabajo {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: right;
  }
  .resumen__item:nth-child(odd) > .resumen__cargo {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: right;
  }
  .resumen__item:nth-child(odd) > .resumen__descripcionActividades {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: right;
  }
  .resumen__item:nth-child(odd) > .linea__contenedor {
    grid-column: 2/3;
    grid-row: 1/5;
  }
  .resumen__item:nth-child(odd) > .punto__contenedor {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .resumen__item:nth-child(2n) > .resumen__fecha {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: left;
  }
  .resumen__item:nth-child(2n) > .resumen__lugarTrabajo {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: left;
  }
  .resumen__item:nth-child(2n) > .resumen__cargo {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: left;
  }
  .resumen__item:nth-child(2n) > .resumen__descripcionActividades {
    grid-column: 3/4;
    grid-row: 4/5;
    text-align: left;
  }
  .resumen__item:nth-child(2n) > .linea__contenedor {
    grid-column: 2/3;
    grid-row: 1/5;
  }
  .resumen__item:nth-child(2n) > .punto__contenedor {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

@media (min-width: 992px) {
  .resumen__contenedor {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }
  .resumen__tituloItem p {
    width: 40%;
  }
  .resumen .resumen__item:nth-child(2n) > .linea__contenedor, .resumen .resumen__item:nth-child(2n) > .punto__contenedor {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .resumen__experiencia {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .resumen__educacion {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .resumen__freelance {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .resumen__item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .resumen__item:nth-child(2n) > .resumen__fecha,
  .resumen__item:nth-child(odd) > .resumen__fecha {
    grid-column: 2/5;
    grid-row: 1/2;
    text-align: right;
  }
  .resumen__item:nth-child(2n) > .resumen__lugarTrabajo,
  .resumen__item:nth-child(odd) > .resumen__lugarTrabajo {
    grid-column: 6/12;
    grid-row: 1/2;
    text-align: left;
  }
  .resumen__item:nth-child(2n) > .resumen__cargo,
  .resumen__item:nth-child(odd) > .resumen__cargo {
    grid-column: 6/12;
    grid-row: 2/3;
    text-align: left;
  }
  .resumen__item:nth-child(2n) > .resumen__descripcionActividades,
  .resumen__item:nth-child(odd) > .resumen__descripcionActividades {
    grid-column: 6/12;
    grid-row: 3/4;
    text-align: left;
    padding-bottom: 1rem;
  }
  .resumen__item:nth-child(2n) > .linea__contenedor,
  .resumen__item:nth-child(odd) > .linea__contenedor {
    grid-column: 5/6;
    grid-row: 1/4;
  }
  .resumen__item:nth-child(2n) > .punto__contenedor,
  .resumen__item:nth-child(odd) > .punto__contenedor {
    grid-column: 5/6;
    grid-row: 1/2;
  }
  .resumen .resumen__fecha {
    font-size: 80%;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}

/* -------- SOFTWARE --------*/
.software {
  background-color: var(--melon);
  color: var(--blanco);
}

.software__contenedor {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 2rem;
  margin: 0 1rem;
}

.software__contenedorGrupo {
  display: grid;
  grid-template-columns: auto 1fr 33.33%;
  grid-template-rows: auto auto;
  grid-row-gap: 4px;
  grid-column-gap: 0.5rem;
}

.software__nombreGrupo--izquierda, .software__nombreGrupo--derecha {
  grid-column: 1/3;
  grid-row: 1/2;
  font-weight: 300;
}

.software__items--izquierda, .software__items--derecha {
  grid-column: 1/2;
  grid-row: 2/3;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  justify-content: space-around;
}

.software__conocimiento--izquierda, .software__conocimiento--derecha {
  grid-column: 2/3;
  grid-row: 2/3;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  justify-content: space-around;
}

.software__nombre {
  font-weight: 400;
}

.software__nivel {
  margin: 6px 0 0 0;
}

.software__cantidadPorcentaje {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.software__cantidadPorcentaje p {
  font-size: 60%;
  background-color: var(--navy);
  padding: 3px 4px;
  margin: 0;
  display: table;
  border-radius: 2px 2px 0 0;
}

.software__contenedorPorcentaje {
  background-color: var(--blanco);
  width: 100%;
  text-align: right;
  border-radius: 4px;
}

.software__porcentaje {
  font-size: 70%;
  padding: 0 0.5rem;
  color: var(--blanco);
  line-height: 1rem;
  font-weight: 300;
  height: 2px;
  border-radius: 4px;
  background-color: var(--navy);
}

.software .software__porcentaje[title="5"] {
  width: 5%;
}

.software .software__porcentaje[title="10"] {
  width: 10%;
}

.software .software__porcentaje[title="15"] {
  width: 15%;
}

.software .software__porcentaje[title="20"] {
  width: 20%;
}

.software .software__porcentaje[title="25"] {
  width: 25%;
}

.software .software__porcentaje[title="30"] {
  width: 30%;
}

.software .software__porcentaje[title="35"] {
  width: 35%;
}

.software .software__porcentaje[title="40"] {
  width: 40%;
}

.software .software__porcentaje[title="45"] {
  width: 45%;
}

.software .software__porcentaje[title="50"] {
  width: 50%;
}

.software .software__porcentaje[title="55"] {
  width: 55%;
}

.software .software__porcentaje[title="60"] {
  width: 60%;
}

.software .software__porcentaje[title="65"] {
  width: 65%;
}

.software .software__porcentaje[title="70"] {
  width: 70%;
}

.software .software__porcentaje[title="75"] {
  width: 75%;
}

.software .software__porcentaje[title="80"] {
  width: 80%;
}

.software .software__porcentaje[title="85"] {
  width: 85%;
}

.software .software__porcentaje[title="90"] {
  width: 90%;
}

.software .software__porcentaje[title="95"] {
  width: 95%;
}

.software .software__porcentaje[title="100"] {
  width: 100%;
}

.software__icon--izquierda, .software__icon--derecha {
  grid-column: 3/4;
  grid-row: 1/4;
  background-color: var(--navy);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
}

.software__icon--derecha > img,
.software__icon--izquierda > img {
  width: 30%;
  height: auto;
}

@media (min-width: 576px) {
  .software__contenedorGrupo {
    grid-row-gap: 0.75rem;
    grid-column-gap: 0.75rem;
  }
}

@media (min-width: 576px) and (min-width: 576px) {
  .software .software__cantidadPorcentaje[title="5"] {
    width: 5%;
  }
  .software .software__cantidadPorcentaje[title="10"] {
    width: 10%;
  }
  .software .software__cantidadPorcentaje[title="15"] {
    width: 15%;
  }
  .software .software__cantidadPorcentaje[title="20"] {
    width: 20%;
  }
  .software .software__cantidadPorcentaje[title="25"] {
    width: 25%;
  }
  .software .software__cantidadPorcentaje[title="30"] {
    width: 30%;
  }
  .software .software__cantidadPorcentaje[title="35"] {
    width: 35%;
  }
  .software .software__cantidadPorcentaje[title="40"] {
    width: 40%;
  }
  .software .software__cantidadPorcentaje[title="45"] {
    width: 45%;
  }
  .software .software__cantidadPorcentaje[title="50"] {
    width: 50%;
  }
  .software .software__cantidadPorcentaje[title="55"] {
    width: 55%;
  }
  .software .software__cantidadPorcentaje[title="60"] {
    width: 60%;
  }
  .software .software__cantidadPorcentaje[title="65"] {
    width: 65%;
  }
  .software .software__cantidadPorcentaje[title="70"] {
    width: 70%;
  }
  .software .software__cantidadPorcentaje[title="75"] {
    width: 75%;
  }
  .software .software__cantidadPorcentaje[title="80"] {
    width: 80%;
  }
  .software .software__cantidadPorcentaje[title="85"] {
    width: 85%;
  }
  .software .software__cantidadPorcentaje[title="90"] {
    width: 90%;
  }
  .software .software__cantidadPorcentaje[title="95"] {
    width: 95%;
  }
  .software .software__cantidadPorcentaje[title="100"] {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .software__contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 1rem;
  }
  .software__contenedorGrupo {
    grid-template-rows: auto auto;
    font-size: 1rem;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
  }
  .software--imagenDiseno {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .software--programacion {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .software--web {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .software--office {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .software--videoAudio3D {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .software--desarrollo {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .software--imagenDiseno, .software--programacion, .softwareweb {
    grid-template-columns: auto 1fr 33.33%;
  }
  .software--office, .software--videoAudio3D, .software--desarrollo {
    grid-template-columns: 33.33% 1fr auto;
  }
  .software__nombreGrupo--izquierda {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .software__items--izquierda {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .software__icon--izquierda {
    grid-column: 3/4;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
  }
  .software__nombreGrupo--derecha {
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: right;
  }
  .software__items--derecha {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: right;
  }
  .software__conocimiento--derecha > .software__nivel {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .software__icon--derecha {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
  }
}

.software h5 {
  color: var(--blanco);
}

/* -------- PORTAFOLIO --------*/
.portafolio {
  padding-right: 1rem;
  padding-left: 1rem;
}

.portafolio__contenedor {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-column-gap: 0.5rem;
}

.portafolio__navegador {
  grid-column: 1/2;
  grid-row: 1/2;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.portafolio__boton {
  list-style: none;
  border-radius: 4px;
  font-size: 80%;
  font-weight: 400;
  padding: 2px 6px;
  margin: 0 2px 1rem 2px;
  background-color: var(--melon);
  border: 1px var(--melon) solid;
}

.portafolio__boton > a {
  color: var(--blanco);
}

.portafolio__boton:hover {
  border: 1px var(--navy) solid;
  background-color: var(--navy);
}

.portafolio__boton > a:hover {
  color: var(--blanco);
}

.portafolio .ui-tabs-active {
  border: 1px var(--navy) solid;
  background-color: var(--ceniza);
}

.portafolio__boton.ui-tabs-active > a {
  color: var(--navy);
}

.portafolio__contenido {
  grid-column: 1/2;
  grid-row: 2/3;
}

.portafolio__becaver, .portafolio__becas, .portafolio__iscam--grafica, .portafolio__iscam--pautado, .portafolio__iscamTradiciones, .portafolio__iscamGeronto, .portafolio__xico, .portafolio__brujula, .portafolio__tortuga {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
}

.portafolio__informacion {
  grid-column: 1/2;
  grid-row: 1/2;
}

.portafolio__titulo {
  font-weight: 500;
  color: var(--b);
}

.portafolio__subtitulo {
  font-size: 80%;
  font-weight: 500;
  color: var(--tenue);
}

.portafolio__actividad {
  font-size: 80%;
  font-weight: 300;
  color: var(--b);
  margin: 0.75rem 0 0.25rem 0;
}

.portafolio__descripcion {
  font-size: 80%;
  font-weight: 400;
  color: var(--oxford);
  margin-bottom: 0.25rem;
  display: none;
}

.portafolio__galeria {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  -webkit-column-fill: balance;
  column-fill: balance;
}

.portafolio__logotipos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

@media (min-width: 576px) {
  .portafolio__galeria {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 0.5rem;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
  }
  .portafolio__logotipos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .portafolio__boton {
    padding: 2px 1rem;
    margin: 0 2.5px 2rem 2.5px;
  }
  .portafolio__iscam {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
  }
  .portafolio__becaver, .portafolio__becas, .portafolio__iscam--grafica, .portafolio__iscam--pautado, .portafolio__iscamTradiciones, .portafolio__iscamGeronto, .portafolio__xico, .portafolio__brujula, .portafolio__tortuga {
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
  }
  .portafolio__informacion {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .portafolio__descripcion {
    display: block;
  }
  .portafolio__galeria {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .portafolio__galeria {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 0.75rem;
    -moz-column-gap: 0.75rem;
    column-gap: 0.75rem;
  }
  .portafolio__logotipos {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .portafolio__galeria {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
  .portafolio__logotipos {
    grid-template-columns: repeat(5, 1fr);
  }
}

.tarjeta {
  display: inline-block;
  margin: 1rem;
}

.tarjeta__contenedor {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.tarjeta__link > .tarjeta__imagen {
  cursor: pointer;
}

.tarjeta__nombre {
  color: var(--oxford);
  font-size: 80%;
  font-weight: 300;
}

.modal__contenedor {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  overflow: hidden;
  background-color: var(--profundoTransparente);
}

.modal__displayNone {
  display: none;
}

.modal__cerrar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8;
  width: 4rem;
  height: 2rem;
  background-color: transparent;
  color: var(--profundo);
  border: transparent;
}

@media (min-width: 576px) {
  .modal__cerrar {
    color: var(--blanco);
  }
}

@media (min-width: 768px) {
  .modal__cerrar {
    right: 3%;
    top: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
}

@media (min-width: 992px) {
  .modal__cerrar {
    right: 2%;
  }
}

.modal__portafolio {
  width: 100%;
  height: 100%;
}

.modal__activo {
  overflow: hidden;
}

#entrada {
  -webkit-transform: scaleY(0.01) scaleX(0);
  transform: scaleY(0.01) scaleX(0);
  -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#entrada .modal__portafolio {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#salida {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#salida .modal__portafolio {
  -webkit-animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
  }
}

@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
    transform: scaleY(1) scaleX(1);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
    transform: scaleY(0.005) scaleX(0);
  }
}

/* -------- TECNOLOGÍAS --------*/
.tecnologia {
  background-color: var(--navy);
}

.tecnologia__contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 0 1rem;
  color: var(--marfil);
}

.tecnologia__icono, .tecnologia__nombre, .tecnologia__descripcion, .tecnologia__nivel {
  margin: 0.25rem 0;
}

.tecnologia__item {
  border-radius: 4px;
  text-align: center;
  padding: 0 0.25rem;
}

.tecnologia__icono {
  border-radius: 4px;
}

.tecnologia__icono > i {
  font-size: 4rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: var(--melon);
}

.tecnologia__nombre {
  font-weight: 400;
}

.tecnologia__descripcion {
  font-size: 80%;
}

.tecnologia__nivel {
  width: 100%;
  height: 1rem;
  padding: 0rem 1rem;
  background-color: transparent;
}

.tecnologia__nivel .software__cantidadPorcentaje p {
  background-color: var(--melon);
}

.tecnologia__nivel .software__contenedorPorcentaje {
  background-color: var(--marfil);
}

.tecnologia__nivel .software__porcentaje {
  background-color: var(--melon);
}

@media (min-width: 576px) {
  .tecnologia__contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    margin: 0 1rem;
  }
  .tecnologia--indesing {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .tecnologia--sass {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .tecnologia--javascript {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .tecnologia--canvas {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

@media (min-width: 768px) {
  .tecnologia__contenedor {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .tecnologia--indesing {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .tecnologia--sass {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .tecnologia--javascript {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .tecnologia--grid {
    grid-column: 4/5;
    grid-row: 1/2;
  }
}

.tecnologia h5 {
  color: var(--blanco);
}

/* -------- CONTACTO --------*/
.contacto {
  background-color: var(--ahuesado);
}

.contacto__contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 0 1rem;
  text-align: center;
}

.contacto__medioMovil {
  grid-column: 1/2;
  grid-row: 1/2;
}

.contacto__medioFacebook {
  grid-column: 2/3;
  grid-row: 1/2;
}

.contacto__medioCorreo {
  grid-column: 1/2;
  grid-row: 2/3;
}

.contacto__medioDireccion {
  grid-column: 2/3;
  grid-row: 2/3;
}

.contacto__icono {
  border-radius: 4px;
  width: 100%;
  height: 6rem;
  cursor: pointer;
}

.contacto__icono > i {
  font-size: 4rem;
  color: var(--melon);
}

.contacto__nombre {
  font-size: 90%;
  color: var(--profundo);
}

.contacto__informacion {
  color: var(--navy);
  font-size: 70%;
  font-weight: 300;
  cursor: pointer;
}

@media (min-width: 768px) {
  .contacto__contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  .contacto__medioMovil {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .contacto__medioFacebook {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .contacto__medioCorreo {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .contacto__medioDireccion {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .contacto__informacion {
    color: var(--navy);
    font-size: 90%;
    font-weight: 500;
    cursor: pointer;
  }
}

/* -------- PIE --------*/
.pie {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--profundo);
  color: var(--ahuesado);
  text-align: center;
}

.pie__derechosReservados, .pie__firma {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.pie__derechosReservados {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 50%;
  font-weight: 300;
  padding-bottom: 0.5rem;
}

.pie__firma {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  padding-top: 0.5rem;
  letter-spacing: 0.5rem;
}

.pie__redesSociales {
  display: none;
  font-size: 50%;
  font-weight: 300;
}

@media (min-width: 768px) {
  .pie {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto;
  }
  .pie__derechosReservados, .pie__firma, .pie__redesSociales {
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.25rem 0;
  }
  .pie__derechosReservados {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .pie__firma {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .pie__redesSociales {
    grid-column: 3/4;
    grid-row: 1/2;
    display: -webkit-box;
    display: flex;
  }
}

.iconRedes {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}
