/*Back*/
	.back {
		display: flex;
		flex-flow: columns;
		justify-content: center;
		align-items: center;
		width: 2.5rem;
		height: 2.5rem;
		position: fixed;
		bottom: 0.5rem; 
		right: 0.75rem;
		background-color: var(--blanco);
		color: var(--oxford);
		border-radius: 50%;
		line-height: 1;
		box-shadow: 0 1px 1px var(--tenueTransparente);		
		z-index: 7;
		text-align: center;

		@include md {
			right: 3.75rem;
		}
	}	
	

	