.contacto {
	background-color: var(--ahuesado);
	
	&__contenedor {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(2,1fr);
		grid-gap: 1rem;
		margin: 0 1rem;
		text-align: center;
	}

	&__medioMovil {
		grid-column:1/2;
		grid-row:1/2;
	}

	&__medioCorreo {
		grid-column:2/3;
		grid-row:1/2;
	}

	&__medioFacebook {
		grid-column:1/2;
		grid-row:2/3;
	}

	&__medioDireccion {
		grid-column:2/3;
		grid-row:2/3;
	}

	&__icono {
		border-radius: 4px;
		width: 100%;
		height: 6rem;
	}

	&__icono > i {
		font-size: 4rem;
		color: var(--melon);
	}

	&__nombre {
		font-size: 90%;
		color: var(--profundo);
	}

	&__informacion,
	&__informacion {
		color: var(--profundo);
		font-weight: 300;
		cursor: pointer;
	}

	@include md {

		&__contenedor {
			display: grid;
			grid-template-columns: repeat(4,1fr);
			grid-template-rows: auto;
		}	
	
		&__medioMovil {
			grid-column:1/2;
			grid-row:1/2;
		}

		&__medioCorreo {
			grid-column:2/3;
			grid-row:1/2;
		}

		&__medioFacebook {
			grid-column:3/4;
			grid-row:1/2;
		}

		&__medioDireccion {
			grid-column:4/5;
			grid-row:1/2;
		}
	}

}