.frase {
	padding: 2rem 3rem;
	display: flex;
	flex-flow: column;

	&__texto {
		color: var(--blanco);
	}

	&__autor {
		color: var(--blanco);
	}

	&--1 {
		background-image: url("../images/frase1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&--2 {
		background-color: blue;
	}


}