.introduccion {
	display: grid;
	grid-template-columns: 100%;	
	grid-template-rows: repeat(3,auto);

	&__resena {
		grid-row: 2/3;
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: center;
	}	

	&__texto {
		width: 100%;
		padding: 0 1rem;
		font-family: 'Playfair Display', 'serif';
		font-size: 1.5rem;
	}

	&__imagenPerfil {
		width: 50%;
		height: 100%;
		background-color: var(--anaranjado);
		display: none;
	}

	&__curriculumVitae {
		width: 100%;
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: center;
	}

	&__descargaCV, &__visitaResumen {
		border-radius: 4px;
		background-color: var(--anaranjado);
		color: var(--ahuesado);
	}

	@include md {

		&__texto {
			font-size: 2rem;
			width: 50%;
		}

		&__imagenPerfil {
			display: initial;
		}
	}
}