//Menu Navegación
	.menuNavegacion {
		width: 100%;
		height: 3rem;
		padding: 0 1rem;
		border-bottom: 1px solid var(--claro);
		position: fixed;
		top: 0; 
		z-index: 8; 
		background-color: var(--blanco);
		color: var(--oxford);      
		line-height: 1;
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: 1fr;

      	&__icon	{
	     	display: none;
	    }

	/*BotonMenu*/
		&__botonMenu {
			grid-column: 4/5;
			grid-row: 1/2;
			width: 100%;
			height: 100%;
			display: flex;
		    flex-flow: row;
		    justify-content: flex-end;
		    align-items: center;
		}

		    .botonMenu {
				position: relative;
				height: 1.5rem;
				width: 1.5rem;
				cursor: pointer;
				background: transparent;
		    }

		    .botonMenu:hover 
		    .botonMenu > span {
		    	background:  var(--anaranjado);
		    }

		    .botonMenu.active .top {
				-webkit-transform: translateY(10px) translateX(0) rotate(45deg);
				      transform: translateY(10px) translateX(0) rotate(45deg);
				background: var(--anaranjado);
		    }

		    .botonMenu.active .middle {
				opacity: 0;
		    }

		    .botonMenu.active .bottom {
				-webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
				      transform: translateY(-10px) translateX(0) rotate(-45deg);
				background: var(--anaranjado);
				top: 22px;
		    }

		    .botonMenu span {
				background: var(--profundo);
				border: none;
				height: 3px;
				width: 100%;
				position: absolute;
				top: 2px;
				left: 0;
				-webkit-transition: all .35s ease;
				transition: all .35s ease;
				cursor: pointer;
		    }

		    .botonMenu span:nth-of-type(2) {
		    	top: 10px;
		    }

		    .botonMenu span:nth-of-type(3) {
		    	top: 18px;
		    }
		
	//MEDIA QUERIES
		@include md {
	   		background-color: transparent;
			width: 3rem;
			height: 100vh;
			padding: 1rem 0;
			text-align: center;
			border-left: 1px var(--claro) solid;
			right: 0;
			display: grid;
			grid-template-columns: 100%;
			grid-template-rows: 20% repeat(8,auto) 20%;
			
			&__icon {
				width: 100%;
				height: 100%;
				display: flex;
				flex-flow: column;
				align-items: center;
				justify-content: center;
			}
			
			&__icon:first-child {
				justify-content: flex-start;
			}

			&__icon:nth-child(0n+10) {
				justify-content: flex-end;
			}

			&__icon a {
	     		color: var(--profundo);
	    	}

	    	&__icon a:hover {
	    		color: var(--anaranjado);
	    	}
			
			&__icon .icon-logo {
				grid-column: 1/2;
				grid-row: 1/2;
			}

			// &__icon .icon-introduccion,
			// &__icon .icon-frase1,
			// &__icon .icon-resumen,
			// &__icon .icon-software,
			// &__icon .icon-portafolio,
			// &__icon .icon-frase2,
			// &__icon .icon-tecnologia,
			// &__icon .icon-contacto {
			// 	grid-column: 1/2;
			// 	grid-row: 2/3;
			// }

			&__icon .icon-facebook {
				grid-column: 1/2;
				grid-row: 3/4;
			}

	    	&__botonMenu {
	    		display: none;
	    	}
		}

}

/* Menu Navegación Extendida */
	.menuNavegacion__Extendida {
		position: fixed;
		top: -40rem;
		padding: 0px;
		width: 100%;
		height: auto;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: flex-start;
		background-color: var(--blanco);
		color: var(--profundo); 
		box-shadow: -3px 0 10px rgba(0,0,0,0.2);
		text-align: center;
		z-index: 7;
		transition: top 1.5s;

		&__items {
			color: var(--profundo);
		}
			
		

	}

	.nav--activo {
			top: 3rem;
			transition: top 1s;
		}
	
	.linea {
			display: initial;
			background-color: var(--ahuesado);
			width: 100%;
			height: 1px;
		}