//Menu Navegación
	.menuNavegacion {
	  display: flex;
      position: fixed;
      width: 100%;
      height: 3rem;
      padding: 0 1rem;
      justify-content: space-between;
      align-items: center;
      background-color: var(--blanco);
      color: var(--oxford);
      z-index: 9; 
      border-bottom: 1px solid var(--claro);
      top: 0;
      line-height: 1;

      	&__icon	{
	     	color: var(--profundo);
	     	width: 100%;
	    }

	    &:hover {
	    	color: var(--anaranjado);
	    }

	    @media (min-width:768px)  {
			width: 3rem;
			height: 100vh;
			padding: 1rem 0;
			text-align: center;
			border-left: 1px var(--claro) solid;
			right: 0;
			display: grid;
			grid-template-columns: 100%;
			grid-template-rows: 30% 10% 10% 10% 10% 30%;
		}

    }		
		
	    