.portada {
	width: 100%;
	height: 100vh;
	background-color: var(--profundo);

	&__contenedor {
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;	
	}

	&__logo {
		
	}

	&__nombre, &__profesion {
		color: var(--ahuesado);
		font-weight: 500;
	}

	&__mouse {
		color: var(--blanco);
	}

	@include md {
	}
}
