.software {
	background-color: var(--ahuesado);

		&__contenedor {
			display: grid;
			grid-template-columns: 100%;
			grid-row-gap: 2rem;
			margin: 0 1rem;

		}

		&__contenedorGrupo {
			display: grid;
			grid-template-columns: 33.33% 33.33% 33.33%;
			grid-template-rows: auto auto auto;
		}

		&__nombreGrupo--izquierda {
			grid-column:1/3;
			grid-row:1/2;
		}

		&__grupo--izquierda {
			grid-column:1/3;
			grid-row:2/4;
		}

		&__icon--izquierda {
			grid-column:3/4;
			grid-row:1/4;
			background-color: var(--melon);
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 4px;
		}

		&__nombreGrupo--derecha {
			grid-column:1/3;
			grid-row:1/2;
		}

		&__grupo--derecha {
			grid-column:1/3;
			grid-row:2/4;
		}

		&__icon--derecha {
			grid-column:3/4;
			grid-row:1/4;
			background-color: var(--melon);
			width: 80%;
			height: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 4px;
		}

		&__icon--derecha > img,
		&__icon--izquierda > img {
			width: 30%;
			height: auto;
		}



	@include md {

		&__contenedor {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto auto;
			grid-column-gap: 1rem;
		}
		
		&--imagenDiseno {
			grid-column:1/2;
			grid-row:1/2;
		}

		&--programacion {
			grid-column:1/2;
			grid-row:2/3;
		}

		&--web {
			grid-column:1/2;
			grid-row:3/4;
		}

		&--office {
			grid-column:2/3;
			grid-row:1/2;
		}

		&--videoAudio3D {
			grid-column:2/3;
			grid-row:2/3;
		}

		&--desarrollo {
			grid-column:2/3;
			grid-row:3/4;
		}

		&__contenedorGrupo {
			display: grid;
			grid-template-columns: 33.33% 33.33% 33.33%;
			grid-template-rows: auto auto auto;
			font-size: 1rem;
		}

		&__nombreGrupo--izquierda {
			grid-column:1/3;
			grid-row:1/2;
		}

		&__grupo--izquierda {
			grid-column:1/3;
			grid-row:2/4;
		}

		&__icon--izquierda {
			grid-column:3/4;
			grid-row:1/4;
			background-color: red;
			width: 100%;
			height: 100%;
		}

		&__nombreGrupo--derecha {
			grid-column:2/4;
			grid-row:1/2;
			text-align: right;
		}

		&__grupo--derecha {
			grid-column:2/4;
			grid-row:2/4;
			text-align: right;
		}

		&__icon--derecha {
			grid-column:1/2;
			grid-row:1/4;
			background-color: red;
			width: 100%;
			height: 100%;
		}

		// &__icon--derecha > img,
		// &__icon--izquierda > img {
		// 	width: 50%;
		// }

	}
}