.software {

	@include md {

		&__contenedor {
			display: grid;
			grid-template-columns: 50% 50%;
			grid-template-rows: auto auto auto;
		}
		
		&--imagenDiseno {
			grid-column:1/2;
			grid-row:1/2;
		}

		&--programacion {
			grid-column:1/2;
			grid-row:2/3;
		}

		&--web {
			grid-column:1/2;
			grid-row:3/4;
		}

		&--office {
			grid-column:2/3;
			grid-row:1/2;
		}

		&--videoAudio3D {
			grid-column:2/3;
			grid-row:2/3;
		}

		&--desarrollo {
			grid-column:2/3;
			grid-row:3/4;
		}

		&__contenedorGrupo {
			display: grid;
			grid-template-columns: 33.33% 33.33% 33.33%;
			grid-template-rows: auto auto auto;
			padding: 0.5rem 3rem;
			font-size: 1rem;
		}

		&__nombreGrupo--izquierda {
			grid-column:1/3;
			grid-row:1/2;
		}

		&__grupo--izquierda {
			grid-column:1/3;
			grid-row:2/4;
		}

		&__icon--izquierda {
			grid-column:3/4;
			grid-row:1/4;
			background-color: red;
			width: 100%;
			height: 100%;
		}

		&__nombreGrupo--derecha {
			grid-column:2/4;
			grid-row:1/2;
			text-align: right;
		}

		&__grupo--derecha {
			grid-column:2/4;
			grid-row:2/4;
			text-align: right;
		}

		&__icon--derecha {
			grid-column:1/2;
			grid-row:1/4;
			background-color: red;
			width: 100%;
			height: 100%;
		}

	}
}