//Media Queries
@import "index/_media_queries.scss";

body {
	--amarilloBecaver: rgba(226, 162, 26, 1);
}




.modal__body {
	overflow: hidden;
	// 
}

.modal {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
    overflow-y: auto; 
    overflow-x: hidden;
    display: flex;
	flex-flow: column;;
	justify-content: center;
	align-items: center;
	background-color: var(--profundoTransparente);
	
	&__contenedor{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
	}
	
	&__tarjeta {
		width: 100%;
		height: auto;
		position: relative;
		top: 0;
		right: 0;
		z-index: 1;
		background-color: var(--blanco);
		padding: 0.5rem;
	}

	&__titulo {
		margin-top: 1rem;
        font-weight: 500;
        color: var(--b);
    }

    &__subtitulo {
        font-size: 80%;
        font-weight: 500;
        color: var(--tenue);
    }

    &__actividad {
        font-size: 80%;
        font-weight: 300;
        color: var(--b);
        margin: 0.75rem 0 0.25rem 0;
    }

    &__descripcion {
        font-size: 80%;
        font-weight: 400;
        color: var(--oxford);
        margin-bottom: 0.25rem;
    }


	&__imagen {
		width: 100%;
		z-index: 1;
		position: relative;
		background-color: var(--blanco);
	}

	&__contenedorImagen {
		width: 100%;
	}

	&__contenedorImagenPortada {
		background-color: var(--oxford);
		width: 100%;
	}

	&__contenedorImagen + .blanco {
		background-color: var(--blanco);
	}

	&__contenedorImagen + .marfil {
		background-color: var(--marfil);
	}





	@include sm {
		
		&__nav {
			display: none;
		}

		&__contenedor{
			width: 90%;
			height: 100%;
		}
		
		&__tarjeta {
			width: 100%;
		}

		&__imagen {
			width: 100%;
		}
	}
	
	@include md {
		&__imagen {
			width: 72
		}
	}

	@include lg {
		flex-flow: row;
		justify-content: center;
		align-items: flex-start;
		
		&__contenedor{
			width: 100%;
			height: 100%;
		}

		&__tarjeta {
			width: 20%;
			height: 100%;
			position: fixed;
			right: 5%;
			z-index: 2;
			padding-top: 0rem;			
		}

		&__imagen {
		    width: 71%;
		    height: auto;
		    position: absolute;
		    left: 5%;
		}		
	}
}
