//Media Queries
@import "media_queries";



/* ================================
		INICIAN MÓDULOS
=================================*/

/* -------- CONTENEDOR --------*/
	.marro-on__contenedor{
		width: 100%;
	    height: 100%;
	    position: relative;
	    // margin-top: 3rem;
	    left: 0;
	    bottom: 0;
	    padding: 0;
	    z-index: 6;

	    @include md {
			width: calc(100% - 3rem);
		    height: 100%;
		    position: relative;
		    margin: 0;
		    left: 0;
		    bottom: initial;
		    padding: 0;
		}			
	}

/* -------- SECCIONES -------- */
	section {
		width: 100%;
		padding: 1rem 0;
	}

	.titulo__seccion {
		text-align: center;
		color: var(--tenueTransparente);
		font-weight: 600;

	}

/* -------- MENU --------*/
@import "menu.scss";

/* -------- BAC -------- */
@import "back.scss";

/* -------- PORTADA --------*/
@import "portada.scss";

/* -------- INTRODUCCION --------*/
@import "introduccion.scss";

/* -------- FRASE --------*/
@import "frase.scss";

/* -------- RESUMEN --------*/
@import "resumen.scss";

/* -------- SOFTWARE --------*/
@import "software.scss";

/* -------- PORTAFOLIO --------*/
@import "portafolio.scss";

/* -------- TECNOLOGÍAS --------*/
@import "tecnologias.scss";

/* -------- CONTACTO --------*/
@import "contacto.scss";

/* -------- PIE --------*/
@import "pie.scss";
