//Media Queries
@import "index/_media_queries.scss";



/* ================================
		INICIAN MÓDULOS
=================================*/

/* -------- CONTENEDOR --------*/
	.hidden {
		display: none;
	}

	.marro-on__contenedor{
		width: 100%;
	    height: 100%;
	    position: relative;
	    // margin-top: 3rem;
	    left: 0;
	    bottom: 0;
	    padding: 0;
	    z-index: 6;

	    @include md {
			width: calc(100% - 3rem);
		    height: 100%;
		    position: relative;
		    margin: 0;
		    left: 0;
		    bottom: initial;
		    padding: 0;
		}			
	}

/* -------- SECCIONES -------- */
	section {
		width: 100%;
		padding: 3rem 0;
	}

	.titulo__seccion {
		text-align: center;
		color: var(--oxford);
		font-weight: 300;
		margin-bottom: 3rem;

	}

/* -------- MENU --------*/
@import "index/_menu.scss";

/* -------- BAC -------- */
@import "index/_back.scss";

/* -------- PORTADA --------*/
@import "index/_portada.scss";

/* -------- INTRODUCCION --------*/
@import "index/_introduccion.scss";

/* -------- FRASE --------*/
@import "index/_frase.scss";

/* -------- RESUMEN --------*/
@import "index/_resumen.scss";

/* -------- SOFTWARE --------*/
@import "index/_software.scss";

/* -------- PORTAFOLIO --------*/
@import "index/_portafolio.scss";

/* -------- TECNOLOGÍAS --------*/
@import "index/_tecnologias.scss";

/* -------- CONTACTO --------*/
@import "index/_contacto.scss";

/* -------- PIE --------*/
@import "index/_pie.scss";
