<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="Kalollero Marrö.ön")
	meta(name="keywords" content="Kalollero Marrö.ön")
	meta(name="author" content="Kalollero Marrö.ön")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	
	//Facebook and Twitter
	meta(property="og:title" content="Kalollero Marro.on")
	meta(property="og:image" content="")
	meta(property="og:url" content="")
	meta(property="og:site_name" content="Kalollero Marro.on")
	meta(property="og:description" content="Kalollero Marro.on")
	meta(name="twitter:title" content="Kalollero Marro.on")
	meta(name="twitter:image" content="")
	meta(name="twitter:url" content="")
	meta(property="og:site_name" content="Kalollero Marro.on")
	meta(property="twitter:description" content="Kalollero Marro.on")


	//
		//////////////////////////////////////////////////////

		Kalollero Marro.on ~ 
		Diseño y Desarrollo by kalollero Marro.on 

		Website:    http://.com
		Email:      @.com
		Facebook:   https://www.facebook.com/

		//////////////////////////////////////////////////////

	title Kalollero Marro.on | PortaFolio
	
	//Icono Pestaña
	link(rel="icon" type="image/png" href="images/icon.png")
	
	//Icon Font
	link(href="https://file.myfontastic.com/yGAo5hbMEGyagVcTpFscjj/icons.css" rel="stylesheet")
	
	//Roboto Font
	link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet")
	
	//PlayFair
	link(href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet")
	
	//Normalize 
	link(rel="stylesheet" href="css/normalize.css")

	//Agora Style
	link(rel="stylesheet" href="css/portaFolio-style.css")

body
	div.modal__contenedor.modal__displayNone
		button.modal__cerrar#cerrar X 
		embed.modal__portafolio(src="")

	//Menú Navegación
	nav.menuNavegacion
		div.menuNavegacion__icon: a(href="#portada") i.icon-logo o.o
		div.menuNavegacion__icon: a(href="#introduccion") i.icon-introduccion 
		div.menuNavegacion__icon: a(href="#frase1") i.icon-frase1 
		div.menuNavegacion__icon: a(href="#resumen") i.icon-resumen 
		div.menuNavegacion__icon: a(href="#software") i.icon-software 
		div.menuNavegacion__icon: a(href="#portafolio") i.icon-portafolio 
		div.menuNavegacion__icon: a(href="#frase2") i.icon-frase2 
		div.menuNavegacion__icon: a(href="#tecnologia") i.icon-tecnologia
		div.menuNavegacion__icon: a(href="#contacto") i.icon-contacto 
		div.menuNavegacion__icon: a(href="") i.icon-facebook 
		div.menuNavegacion__botonMenu
			a(href="#nav" aria-label="Open Navigation")
				div.botonMenu#botonMenu 
					span.top
					span.middle
					span.bottom


	div#nav.menuNavegacion__Extendida
		a.menuNavegacion__Extendida__items(href="") 
			p logo
		a.menuNavegacion__Extendida__items(href="") 
			p introduccion
		a.menuNavegacion__Extendida__items(href="") 
			p frase1
		a.menuNavegacion__Extendida__items(href="") 
			p resumen
		a.menuNavegacion__Extendida__items(href="") 
			p software
		a.menuNavegacion__Extendida__items(href="") 
			p portafolio 
		a.menuNavegacion__Extendida__items(href="") 
			p frase2
		a.menuNavegacion__Extendida__items(href="") 
			p tecnologias
		a.menuNavegacion__Extendida__items(href="") 
			p contacto
		a.menuNavegacion__Extendida__items(href="") 
			p facebook

		div.linea
			
		div.menuNavExtendida--faseBeta
			i.iconNavExtendida.icon-info
			a(href="") Fase Beta
		

	//Portada
	header#portada.portada
		div.portada__contenedor
			div.portada__header
				img.portada__logo(src="images/logo.png")(href="")
				div.portada__social
					a(href=""): i.icon-facebook
					a(href=""): i.icon-github
					a(href=""): i.icon-behance
					a(href=""): i.icon-dribbble

			h2.portada__nombre Kalóllero Marro.on
			p.portada__profesion DISEÑADOR PUBLICITARIO
			a(href="#introduccion")
				i.portada__mouse.icon-mouse

	div.marro-on__contenedor

		//Back
		a.back(href="#portada"): i.icon-back.icono--menu ñ

		//Introducción
		section#introduccion.introduccion
			h5.titulo__seccion Sobre Mi
			div.introduccion__resena
				div.introduccion__texto Loco, Gitano & Soñador, con estudios en Imagen y Diseño; soy un publicista art nouvo de épocas contemporáneas, experto en vampiras moderna ...Bienvenid@.
				div.introduccion__imagenPerfil: img(src="images/")
			div.introduccion__curriculumVitae
				div.introduccion__descargaCV DESCARGAR CV
				div.introduccion__visitaResumen IR AL RESUMEN

		//Frase 1
		div#frase1.frase.frase--1
			h2.frase__texto ...Siempre pasan cosas importantes en mi vida...”
			h4.frase__autor mc marrO.On
			
		//Resumen
		section#resumen.resumen
			h5.titulo__seccion Resumen
			div.resumen__contenedor
				div.resumen__experiencia 
					div.resumen__tituloItem 
						p Experiencia Profesional
						div.linea__naranja

					//Auditoría Integral EZA	
					div.resumen__item
						div.resumen__fecha Jul-Nov/2004
						div.resumen__lugarTrabajo Auditoría Integral Eza
						div.resumen__cargo Auditoría, Análisis & Captura
						div.resumen__descripcionActividades
							p Revisión y Análisis de 
							p Captura y concentrado de la información (Egresos e Ingresos).
							p
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

					//SEDESOL DELEGACIÓN VERACRUZ
					div.resumen__item
						div.resumen__fecha Nov-Dic/2004
						div.resumen__lugarTrabajo SEDESOL Delegación Veracruz
						div.resumen__cargo 
						div.resumen__descripcionActividades 
							p Programa TDT
							p Entrega de Televisiones Digitales en la Región de Huayacocotla por el inicio del Apagon Tecnológico
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

					//Plus Internacional Ingenieros	
					div.resumen__item
						div.resumen__fecha Jul-Nov/2004
						div.resumen__lugarTrabajo Plus Internacional Ingenieros 
						div.resumen__cargo Verificador
						div.resumen__descripcionActividades Verificación Documental de Expedientes Técnicos a Cédulas de Trabajo de SEDESOL Delegación Xalapa
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

					//Instituto de Capacitación Múltiple	
					div.resumen__item
						div.resumen__fecha Ago/2010 a Nov/2013
						div.resumen__lugarTrabajo Instituto de Capacitación Múltiple
						div.resumen__cargo Coordinador de Publicidad y Diseño
						div.resumen__descripcionActividades 
							p Planeación y diseño de la imagen gráfica para la campaña publicitaria para la inscripción de alumnos.
							p Diseño de la imagen gráfica para conferencias, muestras, cursos y simposios:
								ul
									li Que No Se Te Escape Nada (2011);
									li Cocina Saludable (2012);
									li Cursos de Gastronomía (Cocina Francesa, Mexicana, Panadería, Fondant y Pastelería, Cocktelería, entre otros);
									li Tradiciones y Costumbre de Nuestros Pueblos Originarios de Veracruz, en coordinación con SEDESOL Delegación Estatal (diciembre 2012);
									li 1er Simposio de Enfermería Geronto-Geriátrica (2013).
							p Desarrollo y gestión de las redes sociales, sitio web y e-marketing de la institución.
							p Imagen gráfica de la institución.
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

				div.resumen__educacion
					div.resumen__tituloItem 
						p Educación
						div.linea__naranja

					//FCAS	
					div.resumen__item
						div.resumen__fecha Periodo 2005-2010
						div.resumen__lugarTrabajo Licenciatura en Publicidad y Relaciones Públicas
						div.resumen__cargo Universidad Veracruzana
						div.resumen__descripcionActividades
							p Actualmente realizando la Experiencia Recepcional de la Carrera
							p Arco Sur Paseo no. 112 lote 2, Campo Nuevo. Xalapa, Veracruz
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

					//FCAS	
					div.resumen__item
						div.resumen__fecha Periodo 1998-2004
						div.resumen__lugarTrabajo Secundaria & Bachillerato
						div.resumen__cargo ESBAO | Escuela Secundaria y de Bachilleres Artes y Oficios
						div.resumen__descripcionActividades
							p Certificado de estudios
							P Avenida 11 no9. 2806, Dos Caminos Córdoba, Veracruz
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

				div.resumen__freelance
					div.resumen__tituloItem 
						p Trabajos Independientes
						div.linea__naranja

					//BECAVER	
					div.resumen__item
						div.resumen__fecha Abr/2014
						div.resumen__lugarTrabajo BECAVER Feria de Becas 2014
						div.resumen__cargo Sistema Estatal de Becas del Estado de Veracruz
						div.resumen__descripcionActividades Diseño de la Imagen Gráfica
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

					//XICO	
					div.resumen__item
						div.resumen__fecha Feb-Jun/2012
						div.resumen__lugarTrabajo XICO Historia, Cultura y Tradiciones
						div.resumen__cargo Ciclo de Conferencias y Panel sobre los pueblos mágicos de México
						div.resumen__descripcionActividades Coordinación, Logística & Diseño de la Imagen Gráfica
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

		//Software
		section#software.software
			h5.titulo__seccion Conocimiento
			div.software__contenedor
				
				div.software__contenedorGrupo.software--imagenDiseno
					h6.software__nombreGrupo--izquierda Sofware de Imagen & Diseño
					div.software__grupo--izquierda
						div.software__items
							p.software__nombre Illustrator
							p.software__nombre Photoshop
							p.software__nombre Corel Drawn
						div.software__nivelConocimiento
					div.software__icon--izquierda
						img(href="")

				div.software__contenedorGrupo.software--programacion
					h6.software__nombreGrupo--izquierda Lenguajes de Programación
					div.software__grupo--izquierda
						div.software__items
							p.software__nombre HTML5
							p.software__nombre CSS3
							P.software__nombre JQuery
						div.software__nivelConocimiento
					div.software__icon--izquierda
						img(href="")

				div.software__contenedorGrupo.software--web
					h6.software__nombreGrupo--izquierda Web Software
					div.software__grupo--izquierda
						div.software__items
							p.software__nombre Google Analitics
							p.software__nombre Hootsouit
							p.software__nombre Bootstrap 4
						div.software__nivelConocimiento
					div.software__icon--izquierda
						img(href="")

				div.software__contenedorGrupo.software--office
					h6.software__nombreGrupo--derecha Paquetería Office 
					div.software__grupo--derecha
						div.software__items
							p.software__nombre Word
							p.software__nombre Excel
							p.software__nombre Power Point
						div.software__nivelConocimiento
					div.software__icon--derecha
						img(href="")

				div.software__contenedorGrupo.software--videoAudio3D
					h6.software__nombreGrupo--derecha Software de Video, Audio & 3D
					div.software__grupo--derecha
						div.software__items
							p.software__nombre Auditions
							p.software__nombre After Efects
							p.software__nombre Blender
						div.software__nivelConocimiento
					div.software__icon--derecha
						img(href="")

				div.software__contenedorGrupo.software--desarrollo
					h6.software__nombreGrupo--derecha Software para Desarrollo
					div.software__grupo--derecha
						div.software__items
							p.software__nombre Sublime Text
							p.software__nombre Git
							p.software__nombre Acrobat
						div.software__nivelConocimiento
					div.software__icon--derecha
						img(href="")

		//PortaFolio
		section#portafolio.portafolio
			h5.titulo__seccion Portafolio
			
			div.portafolio__contenedor#tabs
				ul.portafolio__navegador
					li.portafolio__boton.becaver: a(href="#tab__becaver") BECAVER
					li.portafolio__boton.iscam: a(href="#tab__iscam") ISCAM
					li.portafolio__boton.xico: a(href="#tab__xico") XICO
					li.portafolio__boton.imagen: a(href="#tab__imagen") Imagen Gráfica
					
				div.portafolio__informacion
					div.portafolio__becaver#tab__becaver
						div.portafolio__descripcion
							p BECAVER
							| Feria de Becas 2014
							| Diseño de la Imagen Gráfica de la Feria
							| Feria Estatal de Becas, Organizada por la Dirección General de Sistema Estatal de Becas, Veracruz. Teniendo esta como sede las Ciudades de Xalapa, Veracruz, Córdoba, Poza Rica, Coatzacoalcos.
						div.portafolio__galeria
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(src="images/portafolio.jpg")
									div.tarjeta__nombre Nombre						
					
					div.portafolio__iscam#tab__iscam
						div.portafolio__descripcion
							p Tradiciones y Costumbre de Nuestros Pueblos Originarios de Veracruz
							p Diseño de la Imagen Gráfica del Evento Logística del Evento & Community Manager en Redes Sociales
							p Muestra Gastronómica de Pueblos Originarios del Estado de Veracruz en Coordinación con la Delegación de SEDESOL Veracruz
						div.portafolio__galeria
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__iscam
										img.tarjeta__imagen.imagen-fluida(src="images/portafolio.jpg")
									div.tarjeta__nombre Nombre
							
					div.portafolio__xico#tab__xico
						div.portafolio__descripcion
							p XICO Historia, Cultura & Tradiciones
						div.portafolio__galeria
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__xico
										img.tarjeta__imagen.imagen-fluida(src="images/portafolio.jpg")
									div.tarjeta__nombre Nombre

					div.portafolio__imagenGrafica#tab__imagen
						div.portafolio__logotipos
							div.tarjeta
								div.tarjeta__contenedor
									a.tarjeta__link#modal__tortuga
										img.tarjeta__imagen.imagen-fluida(src="images/portafolio.jpg")
										div.tarjeta__nombre Nombre										

		//Frase 2
		div#frase2.frase.frase--2
			h2.frase__texto ...dormir las ocho horas de sueño entre las 10:00 pm y las 6:00 am es anticuado...”
			h4.frase__autor mc marrO.On

		//Tecnologías en Estudio
		section#tecnologia.tecnologia
			h5.titulo__seccion Aprendizaje
			div.tecnologia__contenedor
				div.tecnologia__item.tecnologia--indesing
					div.tecnologia__icono
						img(href="")
					div.tecnologia__nombre
						p InDesing
					div.tecnologia__nivel

				div.tecnologia__item.tecnologia--sass
					div.tecnologia__nombre
						p SASS
					div.tecnologia__nivel
					div.tecnologia__icono
						img(href="")

				div.tecnologia__item.tecnologia--javascript
					div.tecnologia__icono
						img(href="")
					div.tecnologia__nombre
						p Java Script
					div.tecnologia__nivel

				div.tecnologia__item.tecnologia--canvas
					div.tecnologia__nombre
						p Buissnes Model Canvas
					div.tecnologia__nivel
					div.tecnologia__icono
						img(href="")

				div.tecnologia__item.tecnologia--sdkfacebook
					div.tecnologia__icono
						img(href="")
					div.tecnologia__nombre
						p SDK JS Facebook
					div.tecnologia__nivel

				div.tecnologia__item.tecnologia--grid
					div.tecnologia__nombre
						p CSS3 - Grid
					div.tecnologia__nivel
					div.tecnologia__icono
						img(href="")

		//Contacto
		section#contacto.contacto
			h5.titulo__seccion Contacto
			div.contacto__contenedor
				div.contacto__medioMovil
					div.contacto__icono
					div.contacto__nombre
						p Teléfono Móvil
					div.contacto__informacion

				div.contacto__medioCorreo
					div.contacto__icono
					div.contacto__nombre
						p Correo Web
					div.contacto__informacion

				div.contacto__medioFacebook
					div.contacto__icono
					div.contacto__nombre
						p Facebook
					div.contacto__informacion

				div.contacto__medioDireccion
					div.contacto__icono
					div.contacto__nombre
						p Dirección
					div.contacto__informacion

		//Pie
		footer.pie
			div.pie__derechosReservados
				p DR 2017
			
			div.pie__firma FIRMA
				img(href="")

			div.pie__redesSociales 
				a.iconRedes(href=""): i.icon-facebook
				a.iconRedes(href=""): i.icon-github
				a.iconRedes(href=""): i.icon-behance
				a.iconRedes(href=""): i.icon-dribbble


	script(src="js/jquery-3.2.1.min.js")

	script(src="js/jquery-ui.min.js")

	script(type='text/javascript').

		$('#botonMenu').click(function(){
			$(this).toggleClass('active');
			$('#nav').toggleClass('nav--activo');
		});
		
		$(function() {
			$( "#tabs" ).tabs();
		});

		$('.tarjeta__link').click(function(){
			var modal = $(this).attr('id');
			var sitio = modal + ".html"
			$('.modal__portafolio').attr('src', sitio);
		  	$('.modal__contenedor').removeAttr('id').attr('id','entrada').removeClass('modal__displayNone');
		  	$('body').addClass('modal__activo');
		});

		$('#cerrar').click(function(){
		 	$('.modal__contenedor').addClass('modal__displayNone');
		  	$('body').removeAttr('class');
		});