<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="Kalollero Marrö.ön")
	meta(name="keywords" content="Kalollero Marrö.ön")
	meta(name="author" content="Kalollero Marrö.ön")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	
	//Facebook and Twitter
	meta(property="og:title" content="Kalollero Marro.on")
	meta(property="og:image" content="")
	meta(property="og:url" content="")
	meta(property="og:site_name" content="Kalollero Marro.on")
	meta(property="og:description" content="Kalollero Marro.on")
	meta(name="twitter:title" content="Kalollero Marro.on")
	meta(name="twitter:image" content="")
	meta(name="twitter:url" content="")
	meta(property="og:site_name" content="Kalollero Marro.on")
	meta(property="twitter:description" content="Kalollero Marro.on")


	//
		//////////////////////////////////////////////////////

		Kalollero Marro.on ~ 
		Diseño y Desarrollo by kalollero Marro.on 

		Website:    http://.com
		Email:      @.com
		Facebook:   https://www.facebook.com/

		//////////////////////////////////////////////////////

	title Kalollero Marro.on | PortaFolio
	
	//Icono Pestaña
	link(rel="icon" type="image/png" href="images/icon.png")
	
	//Icon Font
	link(href="font/styles.css" rel="stylesheet")
	
	//Roboto Font
	link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet")
	
	//PlayFair
	link(href="https://fonts.googleapis.com/css?family=Playfair+Display:400" rel="stylesheet")
	
	//Merriweather
	link(href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900" rel="stylesheet")
	
	//
	link(href="https://fonts.googleapis.com/css?family=Domine:400,700" rel="stylesheet")

	//Normalize 
	link(rel="stylesheet" href="css/normalize.css")

	//Agora Style
	link(rel="stylesheet" href="css/portaFolio-style.css")

body
	//Modal
	div.modal__contenedor.modal__displayNone
		button.modal__cerrar#cerrar: i.icon-close
		embed.modal__portafolio(src="")

	//Menú Navegación
	nav.menuNavegacion
		div.menuNavegacion__icon: a(href="#portada"): i.icon-mouse
		div.menuNavegacion__icon: a(href="#introduccion"): i.icon-introduccion 
		div.menuNavegacion__icon: a(href="#frase1"): i.icon-frase1 
		div.menuNavegacion__icon: a(href="#resumen"): i.icon-resumen 
		div.menuNavegacion__icon: a(href="#software"): i.icon-software 
		div.menuNavegacion__icon: a(href="#portafolio"): i.icon-portafolio 
		div.menuNavegacion__icon: a(href="#tecnologia"): i.icon-tecnologia
		div.menuNavegacion__icon: a(href="#frase2"): i.icon-frase2 			
		div.menuNavegacion__icon: a(href="#contacto"): i.icon-contacto 
		div.menuNavegacion__icon: a(href="https://www.facebook.com/kalolleromarron"): i.icon-facebook 
		div.menuNavegacion__botonMenu
			a(href="#nav" aria-label="Open Navigation")
				div.botonMenu#botonMenu 
					span.top
					span.middle
					span.bottom

	div#nav.menuNavegacion__Extendida
		//- a.menuNavegacion__Extendida__items(href="#portada") 
		//- 	i.icon-logo: p Inicio
		a(href="#introduccion").menuNavegacion__Extendida__items#menuIntroduccion
			i.icon-introduccion
			p Sobre Mi
		
		a(href="#resumen").menuNavegacion__Extendida__items#menuResumen
			i.icon-resumen
			p Resumen

		a(href="#software").menuNavegacion__Extendida__items#menuSoftware
			i.icon-software
			p Conocimiento

		a(href="#portafolio").menuNavegacion__Extendida__items#menuPortafolio
			i.icon-portafolio
			p Portafolio 

		a(href="#tecnologia").menuNavegacion__Extendida__items#menuTecnologia
			i.icon-tecnologia
			p Aprendizaje

		a(href="#contacto").menuNavegacion__Extendida__items#menuContacto
			i.icon-contacto
			p Contacto

		//- div.linea
			
		//- div.menuNavExtendida--faseBeta
		//- 	i.iconNavExtendida.icon-info
		//- 	a(href="") Fase Beta
		
	//Portada
	header#portada.portada
		div.portada__contenedor
			
			div.portada__header
				img.portada__logo(src="")(href="")
				div.portada__social
					//- a(href="https://www.facebook.com/kalolleromarron"): i.icon-facebook

			p.portada__nombre Kalóllero Marro.on
			p.portada__profesion DISEÑO PUBLICITARIO
			
			a.portada__mouse(href="#introduccion")
				i.icon-mouse

	div.marro-on__contenedor

		//Back
		a.back(href="#portada"): i.icon-back.icono--menu

		//Introducción
		section#introduccion.introduccion
			h5.titulo__seccion Sobre Mi
			div.introduccion__resena
				div.introduccion__texto Loco, Gitano & Soñador, con estudios en Imagen y Diseño; un publicista art nouvo de épocas contemporáneas, experto en vampiras moderna ...Bienvenid@.
				div.introduccion__imagenPerfil: img(src="images/introduccion.jpg")
			div.introduccion__curriculumVitae
				a(target="_blank")(href="source/Rogelio_Serna_Ojeda_Curriculum_vitae.pdf")
					div.introduccion__descargaCV DESCARGAR CV
				a(href="#resumen")
					div.introduccion__visitaResumen IR AL RESUMEN

		//Frase 1
		div#frase1.frase
			div.frase--1
				h2.frase__texto ...Siempre pasan cosas importantes en mi vida...”
				//- p.frase__autor mc marrO.On
			
		//Resumen
		section#resumen.resumen
			h5.titulo__seccion Resumen
			div.resumen__contenedor
				div.resumen__experiencia 
					div.resumen__tituloItem 
						p Experiencia Profesional
					//Icon Trabajo
					div.resumen__item
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							i.icon-trabajo
					//Auditoría Integral EZA	
					div.resumen__item
						div.resumen__fecha Abril/2016 a Nov/2017
						div.resumen__lugarTrabajo Auditoría Integral Eza
						div.resumen__cargo Auditoría, Análisis & Captura
						div.resumen__descripcionActividades
							p Revisión y Análisis de 
							p Captura y concentrado de la información (Egresos e Ingresos).
							p
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

					//SEDESOL DELEGACIÓN VERACRUZ
					div.resumen__item
						div.resumen__fecha Nov-Dic/2014
						div.resumen__lugarTrabajo SEDESOL Delegación Veracruz
						div.resumen__cargo Brigadista
						div.resumen__descripcionActividades
							p Entrega de Televisiones Digitales en la Región de Huayacocotla por el inicio del Apagon Tecnológico. Programa TDT
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

					//Plus Internacional Ingenieros	
					div.resumen__item
						div.resumen__fecha Jul-Nov/2014
						div.resumen__lugarTrabajo Plus Internacional Ingenieros 
						div.resumen__cargo Verificador
						div.resumen__descripcionActividades Verificación Documental de Expedientes Técnicos a Cédulas de Trabajo de SEDESOL Delegación Xalapa
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

					//Instituto de Capacitación Múltiple	
					div.resumen__item
						div.resumen__fecha Ago/2010 a Nov/2013
						div.resumen__lugarTrabajo Instituto de Capacitación Múltiple
						div.resumen__cargo Coordinador de Publicidad y Diseño
						div.resumen__descripcionActividades 
							p Planeación y diseño de la imagen gráfica para la campaña publicitaria para la inscripción de alumnos.
							p Diseño de la imagen gráfica para conferencias, muestras, cursos y simposios:
								ul
									li Que No Se Te Escape Nada (2011);
									li Cocina Saludable (2012);
									li Cursos de Gastronomía (Cocina Francesa, Mexicana, Panadería, Fondant y Pastelería, Cocktelería, entre otros);
									li Tradiciones y Costumbre de Nuestros Pueblos Originarios de Veracruz, en coordinación con SEDESOL Delegación Estatal (diciembre 2012);
									li 1er Simposio de Enfermería Geronto-Geriátrica (2013).
							p Desarrollo y gestión de las redes sociales, sitio web y e-marketing de la institución.
							p Imagen gráfica de la institución.
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

				div.resumen__educacion
					div.resumen__tituloItem 
						p Educación
					
					//Icon Educación
					div.resumen__item
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							i.icon-educacion
					//FCAS	
					div.resumen__item
						div.resumen__fecha Periodo 2005-2010
						div.resumen__lugarTrabajo Licenciatura en Publicidad y Relaciones Públicas
						div.resumen__cargo Universidad Veracruzana
						div.resumen__descripcionActividades
							p Actualmente realizando la Experiencia Recepcional de la Carrera
							p Arco Sur Paseo no. 112 lote 2, Campo Nuevo. Xalapa, Veracruz
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

					//ESBAO	
					div.resumen__item
						div.resumen__fecha Periodo 1998-2004
						div.resumen__lugarTrabajo Secundaria & Bachillerato
						div.resumen__cargo ESBAO | Escuela Secundaria y de Bachilleres Artes y Oficios
						div.resumen__descripcionActividades
							p Certificado de estudios
							P Avenida 11 no9. 2806, Dos Caminos Córdoba, Veracruz
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

				div.resumen__freelance
					div.resumen__tituloItem 
						p Trabajos Independientes
					
					//Icon Freelance-
					div.resumen__item
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							i.icon-freelance

					//BECAVER	
					div.resumen__item
						div.resumen__fecha Abr/2014
						div.resumen__lugarTrabajo BECAVER Feria de Becas 2014
						div.resumen__cargo Sistema Estatal de Becas del Estado de Veracruz
						div.resumen__descripcionActividades Diseño de la Imagen Gráfica
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

					//XICO	
					div.resumen__item
						div.resumen__fecha Feb-Jun/2012
						div.resumen__lugarTrabajo XICO Historia, Cultura y Tradiciones
						div.resumen__cargo Ciclo de Conferencias y Panel sobre los Pueblos Mágicos de México
						div.resumen__descripcionActividades Coordinación, Logística & Diseño de la Imagen Gráfica
						div.linea__contenedor
							div.linea
						div.punto__contenedor
							div.punto

		//Software
		section#software.software
			h5.titulo__seccion Conocimiento
			div.software__contenedor
				
				div.software__contenedorGrupo.software--imagenDiseno
					p.software__nombreGrupo--izquierda Sofware de Imagen & Diseño
					div.software__items--izquierda
						p.software__nombre Illustrator
						p.software__nombre Photoshop
						p.software__nombre Corel Drawn
					div.software__conocimiento--izquierda
						div.software__nivel
							div.software__cantidadPorcentaje(title="80")
								p 80%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="80")
						div.software__nivel
							div.software__cantidadPorcentaje(title="40")
								p 40%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="40")
						div.software__nivel
							div.software__cantidadPorcentaje(title="20")
								p 20%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="20")
					div.software__icon--izquierda
						img.imagen-fluida(src="images/desing.svg")

				div.software__contenedorGrupo.software--programacion
					p.software__nombreGrupo--izquierda Lenguajes de Programación
					div.software__items--izquierda
						p.software__nombre HTML5
						p.software__nombre CSS3
						P.software__nombre JQuery
					div.software__conocimiento--izquierda
						div.software__nivel
							div.software__cantidadPorcentaje(title="60")
								p 60%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="60")
						div.software__nivel
							div.software__cantidadPorcentaje(title="50") 
								p 50%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="50")
						div.software__nivel
							div.software__cantidadPorcentaje(title="10") 
								p 10%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="10")
					div.software__icon--izquierda
						img.imagen-fluida(src="images/desarrollo.svg")

				div.software__contenedorGrupo.software--web
					p.software__nombreGrupo--izquierda Web Software
					div.software__items--izquierda
						p.software__nombre Google Analitics
						p.software__nombre Hootsouit
						p.software__nombre Bootstrap 4
					div.software__conocimiento--izquierda
						div.software__nivel
							div.software__cantidadPorcentaje(title="40")
								p 30%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="40")
						div.software__nivel
							div.software__cantidadPorcentaje(title="30")
								p 30%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="30")
						div.software__nivel
							div.software__cantidadPorcentaje(title="75")
								p 55%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="75")
					div.software__icon--izquierda
						img.imagen-fluida(src="images/web.svg")

				div.software__contenedorGrupo.software--office
					p.software__nombreGrupo--derecha Paquetería Office 
					div.software__items--derecha
						p.software__nombre Word
						p.software__nombre Excel
						p.software__nombre Power Point
					div.software__conocimiento--derecha
						div.software__nivel
							div.software__cantidadPorcentaje(title="60")
								p 60%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="60")
						div.software__nivel
							div.software__cantidadPorcentaje(title="40")
								p 40%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="40")
						div.software__nivel
							div.software__cantidadPorcentaje(title="60")
								p 60%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="60")
					div.software__icon--derecha
						img.imagen-fluida(src="images/office.svg")

				div.software__contenedorGrupo.software--videoAudio3D
					p.software__nombreGrupo--derecha Software de Video, Audio & 3D
					div.software__items--derecha
						p.software__nombre Auditions
						p.software__nombre After Efects
						p.software__nombre Blender
					div.software__conocimiento--derecha
						div.software__nivel
							div.software__cantidadPorcentaje(title="10")
								p 10%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="10")
						div.software__nivel
							div.software__cantidadPorcentaje(title="10")
								p 10%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="10")
						div.software__nivel
							div.software__cantidadPorcentaje(title="10")
								p 10%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="10")
					div.software__icon--derecha
						img.imagen-fluida(src="images/3D.svg")

				div.software__contenedorGrupo.software--desarrollo
					p.software__nombreGrupo--derecha Software para Desarrollo
					div.software__items--derecha
						p.software__nombre Sublime Text
						p.software__nombre Git
						p.software__nombre Acrobat
					div.software__conocimiento--derecha
						div.software__nivel
							div.software__cantidadPorcentaje(title="75")
								p 75%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="75")
						div.software__nivel
							div.software__cantidadPorcentaje(title="25")
								p 25%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="25")
						div.software__nivel
							div.software__cantidadPorcentaje(title="75")
								p 60%
							div.software__contenedorPorcentaje
								div.software__porcentaje(title="60")
					div.software__icon--derecha
						img.imagen-fluida(src="images/clound.svg")

		//PortaFolio
		section#portafolio.portafolio
			h5.titulo__seccion Portafolio
			
			div.portafolio__contenedor#tabs
				ul.portafolio__navegador
					li.portafolio__boton.becaver: a(href="#tab__becaver") Becaver
					//- li.portafolio__boton.iscam: a(href="#tab__iscam") Iscam
					li.portafolio__boton.xico: a(href="#tab__xico") Xico
					//- li.portafolio__boton.imagen: a(href="#tab__tortuga") Tortuga del Viento
					li.portafolio__boton.imagen: a(href="#tab__imagen") Imagen Gráfica
					li.portafolio__boton.imagen: a(href="#tab__video") Audio & Video
					
				div.portafolio__contenido

					// B E C A V E R
					div.portafolio__becaver#tab__becaver
						div.portafolio__informacion
							p.portafolio__titulo BECAVER 
							p.portafolio__subtitulo Feria de Becas 2014
							p.portafolio__actividad Diseño de la Imagen Gráfica de la Feria
							p.portafolio__descripcion Feria Estatal de Becas, Organizada por la Dirección General de Sistema Estatal de Becas del Estado de Veracruz.
							p.portafolio__descripcion Teniendo como sede las Ciudades de: Xalapa, Veracruz, Córdoba, Poza Rica, Coatzacoalcos.
						div.portafolio__galeria
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="Logotipo")(src="images/1-becaver.jpg")
									div.tarjeta__nombre Logotipo

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/2-becaver.jpg")
									div.tarjeta__nombre Cartel

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/3-becaver.jpg")
									div.tarjeta__nombre Gafetes

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/4-becaver.jpg")
									div.tarjeta__nombre Invitación

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/5-becaver.jpg")
									div.tarjeta__nombre Flyer

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/6-becaver.jpg")
									div.tarjeta__nombre Ante Pecho

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/7-becaver.jpg")
									div.tarjeta__nombre Back

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/8-becaver.jpg")
									div.tarjeta__nombre Señalética

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/9-becaver.jpg")
									div.tarjeta__nombre Portada Facebook

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/10-becaver.jpg")
									div.tarjeta__nombre Xalapa 01

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/11-becaver.jpg")
									div.tarjeta__nombre Xalapa 02

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/12-becaver.jpg")
									div.tarjeta__nombre Veracruz 01

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/13-becaver.jpg")
									div.tarjeta__nombre Veracruz 02

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/14-becaver.jpg")
									div.tarjeta__nombre Córdoba 01

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/15-becaver.jpg")
									div.tarjeta__nombre Córdoba 02

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/16-becaver.jpg")
									div.tarjeta__nombre Poza Rica 01

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/17-becaver.jpg")
									div.tarjeta__nombre Poza Rica 02

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/18-becaver.jpg")
									div.tarjeta__nombre Coatzacoalcos 01

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__becaver
										img.tarjeta__imagen.imagen-fluida(title="button")(src="images/19-becaver.jpg")
									div.tarjeta__nombre Coatzacoalcos 02
					
					// I S C A M
						div.portafolio__iscam#tab__iscam
						div.portafolio__iscam--tradiciones
							div.portafolio__informacion
								p.portafolio__titulo Tradiciones y Costumbre de Nuestros Pueblos Originarios de Veracruz
								p.portafolio__actividad Diseño de la Imagen Gráfica del Evento Logística del Evento & Community Manager en Redes Sociales
								p.portafolio__descripcion Muestra Gastronómica de Pueblos Originarios del Estado de Veracruz en Coordinación con la Delegación de SEDESOL ~ Veracruz
							div.portafolio__galeria
								
								div.tarjeta
									div.tarjeta___contenedor
										a.tarjeta__link#modal__iscam
											img.tarjeta__imagen.imagen-fluida(src="images/1-iscam.jpg")
										div.tarjeta__nombre Logotipo

								div.tarjeta
									div.tarjeta___contenedor
										a.tarjeta__link#modal__iscam
											img.tarjeta__imagen.imagen-fluida(src="images/2-iscam.jpg")
										div.tarjeta__nombre Cartel

								div.tarjeta
									div.tarjeta___contenedor
										a.tarjeta__link#modal__iscam
											img.tarjeta__imagen.imagen-fluida(src="images/3-iscam.jpg")
										div.tarjeta__nombre Gafetes

						div.portafolio__iscam--que_no_se_te_escape_nada
							div.portafolio__informacion
								p.portafolio__titulo Tradiciones y Costumbre de Nuestros Pueblos Originarios de Veracruz
								p.portafolio__actividad Diseño de la Imagen Gráfica del Evento Logística del Evento & Community Manager en Redes Sociales
								p.portafolio__descripcion Muestra Gastronómica de Pueblos Originarios del Estado de Veracruz en Coordinación con la Delegación de SEDESOL ~ Veracruz
							div.portafolio__galeria
								
								div.tarjeta
									div.tarjeta___contenedor
										a.tarjeta__link#modal__iscam
											img.tarjeta__imagen.imagen-fluida(src="images/1-iscam.jpg")
										div.tarjeta__nombre Logotipo

								div.tarjeta
									div.tarjeta___contenedor
										a.tarjeta__link#modal__iscam
											img.tarjeta__imagen.imagen-fluida(src="images/2-iscam.jpg")
										div.tarjeta__nombre Cartel

								div.tarjeta
									div.tarjeta___contenedor
										a.tarjeta__link#modal__iscam
											img.tarjeta__imagen.imagen-fluida(src="images/3-iscam.jpg")
										div.tarjeta__nombre Gafetes
						
						div.portafolio__iscam--geronto_geriatria
							div.portafolio__informacion
								p.portafolio__titulo Tradiciones y Costumbre de Nuestros Pueblos Originarios de Veracruz
								p.portafolio__actividad Diseño de la Imagen Gráfica del Evento Logística del Evento & Community Manager en Redes Sociales
								p.portafolio__descripcion Muestra Gastronómica de Pueblos Originarios del Estado de Veracruz en Coordinación con la Delegación de SEDESOL ~ Veracruz
							div.portafolio__galeria
								
								div.tarjeta
									div.tarjeta___contenedor
										a.tarjeta__link#modal__iscam
											img.tarjeta__imagen.imagen-fluida(src="images/1-iscam.jpg")
										div.tarjeta__nombre Logotipo

								div.tarjeta
									div.tarjeta___contenedor
										a.tarjeta__link#modal__iscam
											img.tarjeta__imagen.imagen-fluida(src="images/2-iscam.jpg")
										div.tarjeta__nombre Cartel

								div.tarjeta
									div.tarjeta___contenedor
										a.tarjeta__link#modal__iscam
											img.tarjeta__imagen.imagen-fluida(src="images/3-iscam.jpg")
										div.tarjeta__nombre Gafetes
					
					// X I C O		
					div.portafolio__xico#tab__xico
						div.portafolio__informacion
							p.portafolio__titulo XICO 
							p.portafolio__subtitulo Historia, Cultura & Tradiciones
							p.portafolio__actividad Diseño de la Imagen Gráfica del evento
							p.portafolio__descripcion Ciclo de Conferencias y Panel sobre los Pueblos Mágicos de México
						div.portafolio__galeria
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__xico
										img.tarjeta__imagen.imagen-fluida(title="")(src="images/1-xico.jpg")
									div.tarjeta__nombre Logotipo
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__xico
										img.tarjeta__imagen.imagen-fluida(title="")(src="images/2-xico.jpg")
									div.tarjeta__nombre Cartel I
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__xico
										img.tarjeta__imagen.imagen-fluida(title="")(src="images/3-xico.jpg")
									div.tarjeta__nombre Cartel II
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__xico
										img.tarjeta__imagen.imagen-fluida(title="")(src="images/4-xico.jpg")
									div.tarjeta__nombre Cartel III
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__xico
										img.tarjeta__imagen.imagen-fluida(title="")(src="images/5-xico.jpg")
									div.tarjeta__nombre Lona
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__xico
										img.tarjeta__imagen.imagen-fluida(title="")(src="images/6-xico.jpg")
									div.tarjeta__nombre Dossier
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__xico
										img.tarjeta__imagen.imagen-fluida(title="")(src="images/7-xico.jpg")
									div.tarjeta__nombre Portada Facebook
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__xico
										img.tarjeta__imagen.imagen-fluida(title="")(src="images/8-xico.jpg")
									div.tarjeta__nombre Gafetes
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__xico
										img.tarjeta__imagen.imagen-fluida(title="")(src="images/9-xico.jpg")
									div.tarjeta__nombre Constancias
						
					// T OR T U G A  DEL V I E N T O
						div.portafolio__tortuga#tab__tortuga
						div.portafolio__informacion
							p.portafolio__titulo Tortuga del Viento
							p.portafolio__actividad Diseño de la Imagen Gráfica del Evento Logística del Evento & Community Manager en Redes Sociales
							p.portafolio__descripcion Muestra Gastronómica de Pueblos Originarios del Estado de Veracruz en Coordinación con la Delegación de SEDESOL ~ Veracruz
						div.portafolio__galeria
							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__iscam
										img.tarjeta__imagen.imagen-fluida(src="images/1-iscam.jpg")
									div.tarjeta__nombre Logotipo

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__iscam
										img.tarjeta__imagen.imagen-fluida(src="images/2-iscam.jpg")
									div.tarjeta__nombre Cartel

							div.tarjeta
								div.tarjeta___contenedor
									a.tarjeta__link#modal__iscam
										img.tarjeta__imagen.imagen-fluida(src="images/3-iscam.jpg")
									div.tarjeta__nombre Gafetes
					
					// I M A G E N - G R Á F I C A
					div.portafolio__imagenGrafica#tab__imagen
						div.portafolio__logotipos
							div.tarjeta
								div.tarjeta__contenedor
									a.tarjeta--Link
										img.tarjeta__imagen.imagen-fluida(src="https://i.pinimg.com/564x/b7/f0/28/b7f02851bd1a3d4bccdf904b105d5cf6.jpg")
									div.tarjeta__nombre Brújula
							div.tarjeta
								div.tarjeta__contenedor
									a.tarjeta--Link
										img.tarjeta__imagen.imagen-fluida(src="https://i.pinimg.com/564x/c2/f3/e2/c2f3e2ced29089156cf9d9d13ffddfa8.jpg")
									div.tarjeta__nombre el Cumple | Tarjetería
							div.tarjeta
								div.tarjeta__contenedor
									a.tarjeta--Link
										img.tarjeta__imagen.imagen-fluida(src="https://i.pinimg.com/564x/25/c2/aa/25c2aa0d5aafdd7542dd702056361bee.jpg")
									div.tarjeta__nombre Tortuga del Viento
							div.tarjeta
								div.tarjeta__contenedor
									a.tarjeta--Link
										img.tarjeta__imagen.imagen-fluida(src="https://i.pinimg.com/564x/63/8d/5f/638d5f2bbe5fabe7380b99f139ee62c2.jpg")
									div.tarjeta__nombre Verde Pistache

					// A U D I O   &   V I D E O
					div.portafolio__imagenGrafica#tab__video
						iframe(width="560" height="315" src="https://www.youtube.com/embed/fjd8ic_iJM0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

		//Tecnologías en Estudio
		section#tecnologia.tecnologia
			h5.titulo__seccion Aprendizaje
			div.tecnologia__contenedor
				div.tecnologia__item.tecnologia--indesing
					div.tecnologia__icono
						i.icon-adobe
					div.tecnologia__nombre
						p InDesing
					div.tecnologia__descripcion
						p Diseño y maquetación de páginas para la publicación digital e impresa.
					div.tecnologia__nivel.software
						div.software__conocimiento--izquierda
							div.software__nivel
								div.software__cantidadPorcentaje(title="20")
									p 20%
								div.software__contenedorPorcentaje
									div.software__porcentaje(title="20")

				div.tecnologia__item.tecnologia--sass
					div.tecnologia__icono
						i.icon-sass
					div.tecnologia__nombre
						p SASS
					div.tecnologia__descripcion
						p Ayudante para el desarrollador web a la hora de trabajar en CSS.
					div.tecnologia__nivel.software
						div.software__conocimiento--izquierda
							div.software__nivel
								div.software__cantidadPorcentaje(title="40")
									p 40%
								div.software__contenedorPorcentaje
									div.software__porcentaje(title="40")

				div.tecnologia__item.tecnologia--javascript
					div.tecnologia__icono
						i.icon-javascript
					div.tecnologia__nombre
						p Java Script
					div.tecnologia__descripcion
						p JavaScript es un lenguaje de programación, que facilita el diseño web.
					div.tecnologia__nivel.software
						div.software__conocimiento--izquierda
							div.software__nivel
								div.software__cantidadPorcentaje(title="15")
									p 10%
								div.software__contenedorPorcentaje
									div.software__porcentaje(title="15")
				
				div.tecnologia__item.tecnologia--grid
					div.tecnologia__icono
						i.icon-css3
					div.tecnologia__nombre
						p CSS3 - Grid
					div.tecnologia__descripcion
						p Es un Módulo de diseño de cuadrícula CSS basado en filas y columnas.
					div.tecnologia__nivel.software
						div.software__conocimiento--izquierda
							div.software__nivel
								div.software__cantidadPorcentaje(title="80")
									p 80%
								div.software__contenedorPorcentaje
									div.software__porcentaje(title="80")

		//Frase 2
		div#frase2.frase
			div.frase--2
				h2.frase__texto "dormir las ocho horas de sueño entre las 10:00 pm y las 6:00 am es anticuado”
				//- p.frase__autor mc marrO.On		
					
		//Contacto
		section#contacto.contacto
			h5.titulo__seccion Contacto
			div.contacto__contenedor
				
				div.contacto__medioMovil
					a(href="tel:2281285663")
						div.contacto__icono
							i.icon-telefono
						div.contacto__nombre
							p Teléfono Móvil
						div.contacto__informacion 22 &middot 81 &middot 28 &middot 56 &middot 63

				div.contacto__medioFacebook
					a(target="_blank")(href="https://www.facebook.com/kalolleromarron") 
						div.contacto__icono
							i.icon-sdk-facebook
						div.contacto__nombre
							p Facebook
						div.contacto__informacion Kalollero Marro.on 

				div.contacto__medioCorreo
					a(href="mailto:kali.rso@hotmail.com")
						div.contacto__icono
							i.icon-correo
						div.contacto__nombre
							p Correo Web
						div.contacto__informacion kali.rso@hotmail.com

				div.contacto__medioDireccion#modal__mapa
					div.contacto__icono
						i.icon-direccion
					div.contacto__nombre
						p Dirección
					div.contacto__informacion
						p.contacto__informacion Avenida Adolfo Ruíz Cortínez no 1621 Colonia Francisco Ferrer Guardia

		//Pie
		footer.pie
			div.pie__derechosReservados
				p ENERO  &middot  2018 
			
			div.pie__firma Rogelio Serna Ojeda
				img(href="")

			div.pie__redesSociales 
				p Version 1.8.8 &middot Kalóllero Marro.on
				//- a.iconRedes(href="https://www.facebook.com/kalolleromarron"): i.icon-facebook


	script(src="js/jquery-3.2.1.min.js")

	script(src="js/jquery-ui.min.js")

	script(type='text/javascript').
	
		$(document).ready(function(){
			$('#botonMenu').click(function(){
				$(this).toggleClass('active');
				$('#nav').toggleClass('nav--activo');
			});
			
			$(function() {
				$( "#tabs" ).tabs();
			});

			$('.tarjeta__link,.contacto__medioDireccion').click(function(){
				var modal = $(this).attr('id');
				var sitio = modal + ".html"
				$('.modal__portafolio').attr('src', sitio);
			  	$('.modal__contenedor').removeAttr('id').attr('id','entrada').removeClass('modal__displayNone');
			  	$('body').addClass('modal__activo');
			});

			$('#cerrar').click(function(){
			 	$('.modal__contenedor').addClass('modal__displayNone');
			  	$('body').removeAttr('class');
			});

			var menuNavegacionExtendida = $("#menuIntroduccion, #menuResumen, #menuSoftware, #menuPortafolio, #menuTecnologia, #menuContacto");
				
			$(menuNavegacionExtendida).click(function(){
				$("#botonMenu").toggleClass("active");
				$("#nav").toggleClass("nav--activo");
			});
		});