<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

//Normalize 
link(rel="stylesheet" href="css/normalize.css")

//CSS Modal 
link(rel="stylesheet" href="css/portafolio-modal.css")
body.modal__body
	div.modal
		div.modal__contenedor
			div.modal__tarjeta
				p.modal__titulo BECAVER
				p.modal__subtitulo Feria de Becas 2014
				p.modal__actividad Dise침o de la Imagen Gr치fica de la Feria
				p.modal__descripcion Feria Estatal de Becas, Organizada por la Direcci칩n General de Sistema Estatal de Becas del Estado de Veracruz.
				p.modal__descripcion Teniendo como sede las Ciudades de: Xalapa, Veracruz, C칩rdoba, Poza Rica, Coatzacoalcos.
			div.modal__imagen
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/01_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/02_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/03_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/04_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/05_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/06_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/07_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/08_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/09_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/10_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/11_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/12_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/13_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/14_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/15_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/16_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/17_iscam-tradiciones.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/tradiciones/18_iscam-tradiciones.jpg")

			
	
	
