<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

//Normalize 
link(rel="stylesheet" href="css/normalize.css")

//Normalize 
link(rel="stylesheet" href="css/portafolio-modal.css")
body.modal__body
	div.modal
		div.modal__contenedor
			div.modal__tarjeta
				div.modal__nav
					p mc marró.òn
				p BECAVER
				p Feria de Becas 2014
				p Diseño de la Imagen Gráfica de la Feria
				p Feria Estatal de Becas, Organizada por la Dirección General de Sistema Estatal de Becas, Veracruz. Teniendo esta como sede las Ciudades de Xalapa, Veracruz, Córdoba, Poza Rica, Coatzacoalcos.
			div.modal__imagen
				img.imagen-fluida(src="images/becaver.jpg")

			
	
	
