<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

//Normalize 
link(rel="stylesheet" href="css/normalize.css")

//CSS Modal 
link(rel="stylesheet" href="css/portafolio-modal.css")
body.modal__body
	div.modal
		div.modal__contenedor
			div.modal__tarjeta
				p.modal__titulo Brújula
				p.modal__subtitulo Comunicación Estratégica
				p.modal__actividad Diseño de Logotipo y Papeleria
				p.modal__descripcion Agencia publicitaria con orientación a la cultura y turísmo.
			div.modal__imagen
				div.modal__contenedorImagenPortada
					img.imagen-fluida(src="images/brujula/brujula_01.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/brujula/brujula_02.jpg")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/brujula/brujula_03.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/brujula/brujula_04.jpg")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/brujula/brujula_05.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/brujula/brujula_06.jpg")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/brujula/brujula_07.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/brujula/brujula_08.jpg")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/brujula/brujula_09.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/brujula/brujula_10.jpg")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/brujula/brujula_11.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/brujula/brujula_12.jpg")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/brujula/brujula_13.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/brujula/brujula_14.jpg")

			
	
	
