<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

//Normalize 
link(rel="stylesheet" href="css/normalize.css")

//CSS Modal 
link(rel="stylesheet" href="css/portafolio-modal.css")
body.modal__body
	div.modal
		div.modal__contenedor
			div.modal__tarjeta
				p.modal__titulo Dirección General del Sistema Estatal de Becas 
				p.modal__subtitulo 
				p.modal__actividad Diseño de Material Publicitario e informativo.
				p.modal__descripcion Tríptico que muestra la visión y misión de la dirección; las diferentes becas que se otorgan y los pasos a seguir para obtener una beca, así como las personas que son sujetas a recibir estas.
				p.modal__descripcion Catálogo de Convenios realizados entre la Dirección General del Sistema Estatal de Becas y las entidades educativas dentro del estado de Veracruz.
				p.modal__descripcion Diseño de las publicaciones para realizar el pautado en la red social Facebook.
			div.modal__imagen
				div.modal__contenedorImagen
					div.issuuembed(data-configid="30015436/58303321")

				div.modal__contenedorImagen
					div.issuuembed(data-configid="30015436/58298892")

				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/01_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/02_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/03_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/04_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/05_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/06_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/07_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/08_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/09_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/10_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/11_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/12_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/13_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/14_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/15_becas.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becas/16_becas.jpg")

	script(type="text/javascript" src="//e.issuu.com/embed.js" async="true")

			
	
	
