<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

//Normalize 
link(rel="stylesheet" href="css/normalize.css")

//CSS Modal 
link(rel="stylesheet" href="css/portafolio-modal.css")
body.modal__body
	div.modal
		div.modal__contenedor
			div.modal__tarjeta
				p.modal__titulo Domicilio Particular
				p.modal__subtitulo
				p.modal__actividad
				p.modal__descripcion AV. ADOLFO RUIZ CORTINES NO. 1621 COL. FRANCISCO FERRER GUARDIA, XALAPA.
				p.modal__descripcion
			div.modal__imagen
				div.modal__contenedorImagen.marfil
					iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1MWwkaec_yWDi3hv9paZHwS0omIZazbk8")

			
	
	
