<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

//Normalize 
link(rel="stylesheet" href="css/normalize.css")

//CSS Modal 
link(rel="stylesheet" href="css/portafolio-modal.css")
body.modal__body
	div.modal
		div.modal__contenedor
			div.modal__tarjeta
				p.modal__titulo ISCAM Publicaciones
				p.modal__subtitulo
				p.modal__actividad Diseño de Publicidad Digital
				p.modal__descripcion Diseño de las publicaciones en temporada de inscripciones para realizar el pautado en la red social Facebook.
			div.modal__imagen
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/01_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/02_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/03_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/04_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/05_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/06_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/07_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/08_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/09_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/10_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/11_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/12_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/13_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/14_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/15_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/16_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/17_iscam-pautado.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/iscam/pautado/18_iscam-pautado.jpg")

			
	
	
