<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

//Normalize 
link(rel="stylesheet" href="css/normalize.css")

//CSS Modal 
link(rel="stylesheet" href="css/portafolio-modal.css")
body.modal__body
	div.modal
		div.modal__contenedor
			div.modal__tarjeta
				p.modal__titulo BECAVER
				p.modal__subtitulo Feria de Becas 2014
				p.modal__actividad Dise침o de la Imagen Gr치fica de la Feria
				p.modal__descripcion Feria Estatal de Becas, Organizada por la Direcci칩n General de Sistema Estatal de Becas del Estado de Veracruz.
				p.modal__descripcion Teniendo como sede las Ciudades de: Xalapa, Veracruz, C칩rdoba, Poza Rica, Coatzacoalcos.
			div.modal__imagen
				div.modal__contenedorImagenPortada
					img.imagen-fluida(src="images/1-becaver.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/2-becaver.png")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/3-becaver.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/4-becaver.png")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/5-becaver.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/6-becaver.png")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/7-becaver.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/8-becaver.png")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/9-becaver.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/10-becaver.png")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/11-becaver.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/12-becaver.png")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/13-becaver.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/14-becaver.png")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/15-becaver.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/16-becaver.png")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/17-becaver.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/18-becaver.png")

			
	
	
