<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

//Normalize 
link(rel="stylesheet" href="css/normalize.css")

//CSS Modal 
link(rel="stylesheet" href="css/portafolio-modal.css")
body.modal__body
	div.modal
		div.modal__contenedor
			div.modal__tarjeta
				p.modal__titulo Chef Hector Rodríguez Arvizu
				p.modal__subtitulo  
				p.modal__actividad Recetario para Fisicoculturismo
				p.modal__descripcion Diseño e Impresión de Recetario orientado a personas que realizan ejercicios físicos intensos
			div.modal__imagen
				div.modal__contenedorImagen.hector
					div.issuuembed(data-configid="30015436/58304302")

	script(type="text/javascript" src="//e.issuu.com/embed.js" async="true")
			
	
	
