<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

//Normalize 
link(rel="stylesheet" href="css/normalize.css")

//CSS Modal 
link(rel="stylesheet" href="css/portafolio-modal.css")
body.modal__body
	div.modal
		div.modal__contenedor
			div.modal__tarjeta
				p.modal__titulo XICO
				p.modal__subtitulo Historia, Cultura & Tradiciones
				p.modal__actividad Diseño de la Imagen Gráfica del evento
				p.modal__descripcion 
			div.modal__imagen
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/1-xico.png")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/2-xico.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/3-xico.png")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/4-xico.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/5-xico.png")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/6-xico.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/7-xico.png")
				div.modal__contenedorImagen.marfil
					img.imagen-fluida(src="images/8-xico.png")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/9-xico.png")
				//- div.modal__contenedorImagen.marfil
				//- 	img.imagen-fluida(src="images/10-xico.png")
				//- div.modal__contenedorImagen
				//- 	img.imagen-fluida(src="images/11-xico.png")
				//- div.modal__contenedorImagen.marfil
				//- 	img.imagen-fluida(src="images/12-xico.png")
				//- div.modal__contenedorImagen
				//- 	img.imagen-fluida(src="images/13-xico.png")
				//- div.modal__contenedorImagen.marfil
				//- 	img.imagen-fluida(src="images/14-xico.png")
				//- div.modal__contenedorImagen
				//- 	img.imagen-fluida(src="images/15-xico.png")
				//- div.modal__contenedorImagen.marfil
				//- 	img.imagen-fluida(src="images/16-xico.png")
				//- div.modal__contenedorImagen
				//- 	img.imagen-fluida(src="images/17-xico.png")
				//- div.modal__contenedorImagen.marfil
				//- 	img.imagen-fluida(src="images/18-xico.png")

			
	
	
