<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

//Normalize 
link(rel="stylesheet" href="css/normalize.css")

//CSS Modal 
link(rel="stylesheet" href="css/portafolio-modal.css")
body.modal__body
	div.modal
		div.modal__contenedor
			div.modal__tarjeta
				p.modal__titulo BECAVER
				p.modal__subtitulo Feria de Becas 2014
				p.modal__actividad Dise침o de la Imagen Gr치fica de la Feria
				p.modal__descripcion Feria Estatal de Becas, Organizada por la Direcci칩n General de Sistema Estatal de Becas del Estado de Veracruz.
				p.modal__descripcion Teniendo como sede las Ciudades de: Xalapa, Veracruz, C칩rdoba, Poza Rica, Coatzacoalcos.
			div.modal__imagen
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/01_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/02_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/03_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/04_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/05_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/06_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/07_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/08_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/09_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/10_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/11_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/12_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/13_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/14_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/15_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/16_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/17_becaver.jpg")
				div.modal__contenedorImagen
					img.imagen-fluida(src="images/becaver/18_becaver.jpg")

			
	
	
