<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document

//Normalize 
link(rel="stylesheet" href="css/normalize.css")

//Normalize 
link(rel="stylesheet" href="css/portafolio-modal.css")
body.modal__body
	div.modal
		div.modal__contenedor
			div.modal__tarjeta
				p ISCAM
				p Feria de Becas 2014
				p Dise침o de la Imagen Gr치fica de la Feria
				p Feria Estatal de Becas, Organizada por la Direcci칩n General de Sistema Estatal de Becas, Veracruz. Teniendo esta como sede las Ciudades de Xalapa, Veracruz, C칩rdoba, Poza Rica, Coatzacoalcos.
			div.modal__imagen
				img.imagen-fluida(src="images/becaver.jpg")
