<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="description" content="Kalollero Marrö.ön")
	meta(name="keywords" content="Kalollero Marrö.ön")
	meta(name="author" content="Kalollero Marrö.ön")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	
	//Facebook and Twitter
	meta(property="og:title" content="Kalollero Marro.on")
	meta(property="og:image" content="")
	meta(property="og:url" content="")
	meta(property="og:site_name" content="Kalollero Marro.on")
	meta(property="og:description" content="Kalollero Marro.on")
	meta(name="twitter:title" content="Kalollero Marro.on")
	meta(name="twitter:image" content="")
	meta(name="twitter:url" content="")
	meta(property="og:site_name" content="Kalollero Marro.on")
	meta(property="twitter:description" content="Kalollero Marro.on")


	//
		//////////////////////////////////////////////////////

		Kalollero Marro.on ~ 
		Diseño y Desarrollo by kalollero Marro.on 

		Website:    http://.com
		Email:      @.com
		Facebook:   https://www.facebook.com/

		//////////////////////////////////////////////////////

	title Kalollero Marro.on | PortaFolio
	
	//Icono Pestaña
	link(rel="icon" type="image/png" href="images/icon.png")
	
	//Icon Font
	link(href="" rel="stylesheet")
	
	//Roboto Font
	link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet")

	//Agora Style
	link(rel="stylesheet" href="css/portaFolio-style.css")

body

	//Navegador
	nav.menuNavegacion
				i.menuNavegacion__icon.icon-logo

				i.menuNavegacion__icon.icon-introduccion
				i.menuNavegacion__icon.icon-frase1
				i.menuNavegacion__icon.icon-resumen
				i.menuNavegacion__icon.icon-software
				i.menuNavegacion__icon.icon-portafolio
				i.menuNavegacion__icon.icon-frase2
				i.menuNavegacion__icon.icon-tecnologias
				i.menuNavegacion__icon.icon-contacto

				i.menuNavegacion__icon.icon-facebook

	div.marro-on__contenedor
		
		//Portada
		header.portada
			div.portada__contenedor
				img.portada__logo(href="")
				h2 Kalollero Marrô.ôn
				p DISEÑADOR PUBLICITARIO
				img.portada__mouse(href="")

		//Introducción
		section.introduccion
			h1.titulo__seccion Sobre Mi
			div.introduccion__resena
				div Loco, Gitano & Soñador, con estudios en Imagen y Diseño; soy un publicista art nouvo de épocas contemporáneas, experto en vampiras moderna ...Bienvenid@.
				img.imagenPerfil
			div.introduccion__curriculumVitae
				div DESCARGAR CV
				div IR AL RESUMEN

		//Frase 1
		section.frase.frase--1
			h1 ...Siempre pasan cosas importantes en mi vida...”
			h4 mc marrO.On
			
		//Resumen
		section.resumen
			h1.titulo__seccion
			div.resumen__experiencia
			div.resumen__educacion
			div.resumen__Freelance

		//Software
		section.software
			h1.titulo__seccion
			div.software__contenedor
				div.item__contenedor
					h4.grupoSoftware Sofware de Imagen & Diseño
					div.item__software
						div.software
							p.nombreSoftware Illustrator
							p.nombreSoftware Photoshop
							p.nombreSoftware Corel Drawn
						div.nivelConocimiento
					div.icon__software
						img(href="")

				div.item__contenedor
					h4.grupoSoftware Web Software
					div.item__software
						div.software
							p.nombreSoftware Google Analitics
							p.nombreSoftware Hootsouit
							p.nombreSoftware Bootstrap 4
						div.nivelConocimiento
					div.icon__software
						img(href="")

				div.item__contenedor
					h4.grupoSoftware Paquetería Office 
					div.item__software
						div.software
							p.nombreSoftware Word
							p.nombreSoftware Excel
							p.nombreSoftware Power Point
						div.nivelConocimiento
					div.icon__software
						img(href="")

				div.item__contenedor
					h4.grupoSoftware Software de Video, Audio & 3D
					div.item__software
						div.software
							p.nombreSoftware Auditions
							p.nombreSoftware After Efects
							p.nombreSoftware Blender
						div.nivelConocimiento
					div.icon__software
						img(href="")

				div.item__contenedor
					h4.grupoSoftware Lenguajes de Programación
					div.item__software
						div.software
							p.nombreSoftware HTML5
							p.nombreSoftware CSS3
							P.nombreSoftware JQuery
						div.nivelConocimiento
					div.icon__software
						img(href="")

				div.item__contenedor
					h4.grupoSoftware Software para Desarrollo
					div.item__software
						div.software
							p.nombreSoftware Sublime Text
							p.nombreSoftware Git
							p.nombreSoftware Acrobat
						div.nivelConocimiento
					div.icon__software
						img(href="")

		//PortaFolio
		section.portafolio
			h1.titulo__seccion
			div.portafolio__descripcion
			div.portafolio__galeria
		
		//Frase 2
		section.frase.frase--2
			h2 ...dormir las ocho horas de sueño entre las 10:00 pm y las 6:00 am es anticuado...”
			h4 mc marrO.On

		//Tecnologías en Estudio
		section.tecnologias
			h1.titulo__seccion
			div.tecnologias__contenedor
				div.tecnologia__item
					div.tecnologia__icono
						img(href="")
					div.tecnologia__nombre
						p InDesing
					div.tecnologia__nivel

				div.tecnologia__item
					div.tecnologia__nombre
						p SASS
					div.tecnologia__nivel
					div.tecnologia__icono
						img(href="")

				div.tecnologia__item
					div.tecnologia__icono
						img(href="")
					div.tecnologia__nombre
						p Java Script
					div.tecnologia__nivel

				div.tecnologia__item
					div.tecnologia__nombre
						p Premier
					div.tecnologia__nivel
					div.tecnologia__icono
						img(href="")

				div.tecnologia__item
					div.tecnologia__icono
						img(href="")
					div.tecnologia__nombre
						p SDK JS Facebook
					div.tecnologia__nivel

				div.tecnologia__item
					div.tecnologia__nombre
						p CSS3 - Grid
					div.tecnologia__nivel
					div.tecnologia__icono
						img(href="")

		//Contacto
		section.contacto
			h1.titulo__seccion
			div.contacto__contenedor
				div.medioDeContacto
					div.medioDeContacto__icono
					div.nombreDeContacto__nombre
						p Teléfono Móvil
					div.medioDeContacto__informacion

				div.medioDeContacto
					div.medioDeContacto__icono
					div.nombreDeContacto__nombre
						p Correo Web
					div.medioDeContacto__informacion

				div.medioDeContacto
					div.medioDeContacto__icono
					div.nombreDeContacto__nombre
						p Facebook
					div.medioDeContacto__informacion

				div.medioDeContacto
					div.medioDeContacto__icono
					div.nombreDeContacto__nombre
						p Dirección
					div.medioDeContacto__informacion

		//Pie
		footer.pie
			div.pie__derechosReservados
				p DR 2017
			
			div.pie__firma
				img(href="")

			div.pie__redesSociales
				i.iconRedes.icon-facebook
				i.iconRedes.icon-twitter
				i.iconRedes.icon-github
				i.iconRedes.icon-Linkedin