.software__porcentaje[title="5"] {
  width: 5%;
}

.software__porcentaje[title="10"] {
  width: 10%;
}

.software__porcentaje[title="15"] {
  width: 15%;
}

.software__porcentaje[title="20"] {
  width: 20%;
}

.software__porcentaje[title="25"] {
  width: 25%;
}

.software__porcentaje[title="30"] {
  width: 30%;
}

.software__porcentaje[title="35"] {
  width: 35%;
}

.software__porcentaje[title="40"] {
  width: 40%;
}

.software__porcentaje[title="45"] {
  width: 45%;
}

.software__porcentaje[title="50"] {
  width: 50%;
}

.software__porcentaje[title="55"] {
  width: 55%;
}

.software__porcentaje[title="60"] {
  width: 60%;
}

.software__porcentaje[title="65"] {
  width: 65%;
}

.software__porcentaje[title="70"] {
  width: 70%;
}

.software__porcentaje[title="75"] {
  width: 75%;
}

.software__porcentaje[title="80"] {
  width: 80%;
}

.software__porcentaje[title="85"] {
  width: 85%;
}

.software__porcentaje[title="90"] {
  width: 90%;
}

.software__porcentaje[title="95"] {
  width: 95%;
}

.software__porcentaje[title="100"] {
  width: 100%;
}
