@charset "UTF-8";

@font-face {
  font-family: "portafolios";
  src:url("fonts/portafolios.eot");
  src:url("fonts/portafolios.eot?#iefix") format("embedded-opentype"),
    url("fonts/portafolios.woff") format("woff"),
    url("fonts/portafolios.ttf") format("truetype"),
    url("fonts/portafolios.svg#portafolios") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "portafolios" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "portafolios" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\67";
}
.icon-github:before {
  content: "\61";
}
.icon-behance:before {
  content: "\62";
}
.icon-dribbble:before {
  content: "\63";
}
.icon-close-circle:before {
  content: "\64";
}
.icon-close-circulo:before {
  content: "\66";
}
.icon-facebook:before {
  content: "\68";
}
.icon-git:before {
  content: "\65";
}
.icon-mouse:before {
  content: "\69";
}
.icon-software:before {
  content: "\6b";
}
.icon-introduccion:before {
  content: "\6e";
}
.icon-frase2:before {
  content: "\6f";
}
.icon-frase1:before {
  content: "\70";
}
.icon-freelance:before {
  content: "\71";
}
.icon-resumen:before {
  content: "\6d";
}
.icon-contacto:before {
  content: "\6a";
}
.icon-educacion:before {
  content: "\6c";
}
.icon-trabajo:before {
  content: "\73";
}
.icon-back:before {
  content: "\72";
}
.icon-portafolio:before {
  content: "\74";
}
.icon-tecnologia:before {
  content: "\76";
}
.icon-adobe:before {
  content: "\75";
}
.icon-sass:before {
  content: "\77";
}
.icon-javascript:before {
  content: "\78";
}
.icon-sdk-facebook:before {
  content: "\7a";
}
.icon-html5:before {
  content: "\43";
}
.icon-css3:before {
  content: "\44";
}
.icon-canvas:before {
  content: "\79";
}
.icon-correo:before {
  content: "\41";
}
.icon-telefono:before {
  content: "\46";
}
.icon-direccion:before {
  content: "\47";
}
