.contacto {
	width: 100vw;
	min-height: 100vh;
	padding: 2rem 10%;
	background-color: var(--profundo);

	&__frase {
		width: 100%;
		height: 30vh;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	&__idea {
		font-size: 1.75rem;
		font-weight: 600;
		color: var(--blanco);
		line-height: 1.1;
		margin: 0 0 1rem 0;
	}

	&__cuentame {
		font-size: 1.75rem;
		font-weight: 200;
		color: var(--blanco);
		line-height: 1.1;
		padding: 0 0 8px 0;
		position: relative;
	}

	/*&__cuentame:after {
		content: "";
	    display: block;
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    height: 1px;
	    background-color: rgba(255,255,255,.7);
	}*/

	&__texto {
		display: flex;
		margin-top: 15%;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
	}

	&__datos {
		//width: 50%;
	}

	&__medioCorreo {
		font-size: 1.25rem;
		font-weight: 200;
		color: var(--blanco);
		padding: 0 0 8px 0;
		position: relative;
	}

	&__medioCorreo a:after {
		content: "";
	    display: block;
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    height: 1px;
	    background-color: rgba(255,255,255,.7);
	}

	&__medioDireccion {
		font-size: .8rem;
		font-weight: 100;
		color: var(--blanco);
		padding: 2rem 0 1rem 0;
	}

	&__medioMovil {
		font-size: 1rem;
		font-weight: 100;
		color: var(--blanco);
	}

	&__redes {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items:flex-end;
		margin: 4rem;
	}
	
	&__medioCorreo,
	&__medioDireccion p,
	&__medioMovil,
	&__medioFacebook,
	&__medioInstagram,
	&__medioFreelancer,
	&__medioSkype {
		text-align: center;
	}

	&__medioFacebook,
	&__medioInstagram,
	&__medioFreelancer,
	&__medioSkype {
		width: 50%;
		margin: 2rem 0 0 0;
		font-weight: 100;
	}

	&__medioFacebook:hover,
	&__medioInstagram:hover,
	&__medioFreelancer:hover,
	&__medioSkype:hover {
		font-weight: 400;
	}

	@include sm {

	}

	@include md {

	}

	@include lg {
		padding: 2rem 10%;
		background-color: var(--profundo);

		&__frase {
			width: 100%;
			height: 30vh;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: flex-start;
		}

		&__idea {
			font-size: 3rem;
			font-weight: 600;
			color: var(--blanco);
			line-height: 1.1;
			margin: 0 0 1rem 0;
		}

		&__cuentame {
			font-size: 3rem;
			font-weight: 200;
			color: var(--blanco);
			line-height: 1.1;
			padding: 0 0 8px 0;
			position: relative;
		}

		&__texto {
			display: flex;
			margin-top: 15%;
			flex-flow: row;
			justify-content: space-between;
			align-items: flex-end;
		}

		&__datos {
			//width: 50%;
		}

		&__medioCorreo {
			font-size: 1.25rem;
			font-weight: 200;
			color: var(--blanco);
			padding: 0 0 8px 0;
			position: relative;
		}

		&__medioDireccion {
			font-size: .8rem;
			font-weight: 100;
			color: var(--blanco);
			padding: 2rem 0 1rem 0;
		}

		&__medioMovil {
			font-size: .8rem;
			font-weight: 100;
			color: var(--blanco);
		}

		&__medioCorreo,
		&__medioDireccion p,
		&__medioMovil,
		&__medioFacebook,
		&__medioInstagram,
		&__medioFreelancer,
		&__medioSkype {
			text-align: left;
		}

		&__redes {
			width: 50%;
			margin: 0;
		}
		

		&__medioFacebook,
		&__medioInstagram,
		&__medioFreelancer,
		&__medioSkype {
			width: 30%;
			margin: 2rem 0 0 0;
			font-weight: 100;

		}

		&__medioFacebook:hover,
		&__medioInstagram:hover,
		&__medioFreelancer:hover,
		&__medioSkype:hover {
			font-weight: 400;
		}
	
	}

	@include xl {
	
	}
}