.pie {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	background-color: var(--profundo);
	color: var(--ahuesado);
	text-align: center;

	&__derechosReservados,
	&__firma {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	&__derechosReservados {
		grid-column:1/2;
		grid-row:2/3;
		font-size: 50%;
		font-weight: 300;
		padding-bottom: 0.5rem;
	}

	&__firma {
		grid-column:1/2;
		grid-row:1/2;
		font-family: 'Merriweather', serif;
		font-weight: 300;
		padding-top: 0.5rem;
		letter-spacing: 0.5rem;
	}

	&__redesSociales {
		display: none;
		font-size: 50%;
		font-weight: 300;
	}

	@include md {
		grid-template-columns: 25% 50% 25%;
		grid-template-rows: auto;

		&__derechosReservados,
		&__firma,
		&__redesSociales {
			justify-content: center;
			align-items: center;
			padding: 0.25rem 0;
		}

		&__derechosReservados {
			grid-column:1/2;
			grid-row:1/2;
		}

		&__firma {
			grid-column:2/3;
			grid-row:1/2;
		}

		&__redesSociales {
			grid-column:3/4;
			grid-row:1/2;
			display: flex;
		}
	}
}

.iconRedes {
	border-radius: 50%;
	// background-color: white;
	// color: black;
	width: 1rem;
	height: 1rem;
	display: inline-block;
}