.portada {
	width: 100vw;
	height: 100vh;
	padding: 2rem 10%;
	background: var(--blanco);
	z-index: 9;
	font-family: "Poppins", sans-serif;
	

	&__contenedor {
		width: 100%;
		height: 100%;
	}

	&__navMenu{}
	
	&__logo {
		font-family: "Poppins", sans-serif;
		font-weight: 600;
	}

	&__contenido {
		display: flex;
		flex-flow: column;
	}

	&__titulo {
		width: 80vw;
		display: flex;
    	flex-flow: column;
    	justify-content: center;
    	align-items: flex-start;
    	font-family: "Poppins", sans-serif;
		font-weight: 800;
		margin: 18vh 0 2rem 0;

    	&-UI,
		&-webDesign,
		&-packaging {
    		font-size: 2.25rem;
    		line-height: 1.1;
    	}
	}

	&__texto {
		font-family: 'Open Sans', sans-serif;
		width: 50vw;
		height: auto;
		font-size: .75rem;
		font-weight: 200;
		text-align: right;
		align-self: flex-end;
	}

	@include sm {
	
		&__navMenu{
			height: 30vh;
		}

		&__logo {
			font-size: 1rem;
		}
		
		&__titulo {
    		//border: 1px dashed orange;
    		margin:0 0 2rem 0;
		}
	}

	@include md {
		&__contenido {
			//width: 60vw;
			flex-flow: row;
			justify-content: flex-start;
			align-items: flex-end;
			//border: 1px dashed orange;
		}

		&__titulo {
			margin:0 0 0 0;
			
			&-UI,
			&-webDesign,
			&-packaging {
    			font-size: 4rem;
    		}
		}

		&__texto {
		width: 30vw;
		}
	}


	@include lg {

		&__titulo {
			margin:0 15% 0 0;
			
			&-UI,
			&-webDesign,
			&-packaging {
    			font-size: 4.5rem;
    		}
		}

		&__texto {
			font-size: 1rem;
			font-weight: 400;
		}
	}

	@include xl {
		&__titulo {
			
			&-UI,
			&-webDesign,
			&-packaging {
    			font-size: 5rem;
    		}
		}
	}
}

