.software {
	&__porcentaje[title="5"]{
		width: 5%;
	}
	&__porcentaje[title="10"]{
		width: 10%;
	}
	&__porcentaje[title="15"]{
		width: 15%;
	}
	&__porcentaje[title="20"]{
		width: 20%;
	}
	&__porcentaje[title="25"]{
		width: 25%;
	}
	&__porcentaje[title="30"]{
		width: 30%;
	}
	&__porcentaje[title="35"]{
		width: 35%;
	}
	&__porcentaje[title="40"]{
		width: 40%;
	}
	&__porcentaje[title="45"]{
		width: 45%;
	}
	&__porcentaje[title="50"]{
		width: 50%;
	}
	&__porcentaje[title="55"]{
		width: 55%;
	}
	&__porcentaje[title="60"]{
		width: 60%;
	}
	&__porcentaje[title="65"]{
		width: 65%;
	}
	&__porcentaje[title="70"]{
		width: 70%;
	}
	&__porcentaje[title="75"]{
		width: 75%;
	}
	&__porcentaje[title="80"]{
		width: 80%;
	}
	&__porcentaje[title="85"]{
		width: 85%;
	}
	&__porcentaje[title="90"]{
		width: 90%;
	}
	&__porcentaje[title="95"]{
		width: 95%;
	}
	&__porcentaje[title="100"]{
		width: 100%;
	}
}