.tecnologia {
	background-color: var(--navy);
	
	&__contenedor {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 1rem;
			margin: 0 1rem;
			color: var(--marfil);
	}
	
	//
		// &--indesing {
		// 	grid-column: 1/2;
		// 	grid-row: 1/2;
		// }

		// &--sass {
		// 	grid-column: 2/3;
		// 	grid-row: 1/2;
		// }

		// &--javascript {
		// 	grid-column: 1/2;
		// 	grid-row: 2/3;
		// }

		// &--canvas {
		// 	grid-column: 2/3;
		// 	grid-row: 2/3;
		// }

		// &--sdkfacebook {
		// 	grid-column: 1/2;
		// 	grid-row: 3/4;
		// }

		// &--grid {
		// 	grid-column: 2/3;
		// 	grid-row: 3/4;
		// }

	//Clases Globales

	&__icono,
	&__nombre,
	&__descripcion,
	&__nivel {
		margin: 0.25rem 0;
	}



	&__item {
		// background-color: var(--ceniza);
		border-radius: 4px;
		// padding: 0.5rem;
		// margin: 0 0.5rem;
		text-align: center;
		padding: 0 0.25rem;
	}

	&__icono {
		// background-color: red;
		border-radius: 4px;
		// padding: 0.5rem;
	}

	&__icono > i {
		font-size: 4rem;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		color: var(--melon);
	}

	&__nombre {
		font-weight: 400;
	}

	&__descripcion {
		font-size: 80%;
	}

	&__nivel {
		width: 100%;
		height: 1rem;
		padding: 0rem 1rem;
    	background-color: transparent;
	}

	&__nivel .software__cantidadPorcentaje p {
		background-color: var(--melon);
	}

	&__nivel .software__contenedorPorcentaje {
		background-color: var(--marfil);
	}

	&__nivel .software__porcentaje {
		background-color: var(--melon);
	}


	//media queries SM
	@include sm {	
		&__contenedor {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto auto auto;
				grid-gap: 1rem;
				margin: 0 1rem;
		}

		&--indesing {
			grid-column: 1/2;
			grid-row: 1/2;
		}

		&--sass {
			grid-column: 2/3;
			grid-row: 1/2;
		}

		&--javascript {
			grid-column: 1/2;
			grid-row: 2/3;
		}

		&--canvas {
			grid-column: 2/3;
			grid-row: 2/3;
		}
	}
	

	//media queries md
	@include md {
		&__contenedor {
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-rows: auto;
		}

		&--indesing {
			grid-column: 1/2;
			grid-row: 1/2;
		}

		&--sass {
			grid-column: 2/3;
			grid-row: 1/2;
		}

		&--javascript {
			grid-column: 3/4;
			grid-row: 1/2;
		}

		&--grid {
			grid-column: 4/5;
			grid-row: 1/2;
		}
	}

	//media queries lg
}

.tecnologia h5 {
	color: var(--blanco);
}
